<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: blue;
        }
    </style>
    <title>Anuradha</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO ANURADHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Anuradha 3-20 to 16-40′ Scorpio
Names start with : naa, nee, nuu, naE
General Characteristics: Rich, live in foreign countries, unable to bear hunger, move from place to place.
Translation : A small flash of lightening, a tiny spark, success
Symbol : Lotus flower – ability and perseverance to blossom in the midst of life’s trials and tribulations, a row or furrow.
Animal symbol : Female deer or hare.
Ruling planet : Saturn.
Nature : Deva (god-like)
Presiding deity : Mitra – the God of friendship and partnership who promotes cooperation among humanity.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Anuradha Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
     Physical features: The native will have a beautiful face with bright eyes. In some cases where combination of planets is not good, the native has cruel looks.<br><br>

Character and general events: He is liable to face several obstacles in his life. Even then he has special aptitude to handle the most difficult situation in a systematic way. However, if we look at his face, a peculiar frustrated face can be noticed. The main reason for such a gloomy appearance is the problems, which he has to confront on several occasions. to be more specific, there will not be peace of mind in his life. Even a smallest problem will start pinching his mind repeatedly runs after one and the same problem.


He always think of taking revenge whenever opportunity comes. In spite of these drawbacks he is the most hardworking and ever ready to complete the task before him. Come what may, march forward is the motto of this native. Here I may add that after several reversals he ultimately achieves the desired result.
He is a firm believer of god. He cannot keeps a permanent stable relationship with anybody. His life is full of helplessness but independent. Even in several reversals he will not leave optimism.<br><br>

Education, sources of earning/profession: He can be successful in the business field. If he is employed he has a special caliber of how to pocket his superiors. He starts earning his bread at quite young age say on or about 17 or 18 years of age. Life between the period of 17 years to 48 years of age. Life between the period of 17 years to 48 years of age will be full of problems. When we say full of problems, it does not mean that there will not be any good period in between the above-mentioned period. Occasional, benefits and favorable results will be definitely noticed. The life after the age of 48 years will be extremely good. It is in this period he can settle down n his life to the desired way and become free from most of the miseries of the life. If Moon is in the company of Mars, he may be a person dealing with drugs and chemicals or a doctor.<br><br>

Family life: No benefit will be derived from the co-borns under any circumstances. He cannot enjoy or derive any benefit from his father. In some cases, frequent friction with his father has also been noticed. Same way there is no luck of receiving love and affection from the mother also. Normally, he settles down away from the place of his birth. Even though several adverse results have been commented above, one of the favorable points is that his married life will be completely satisfactory. His spouse will have all the qualities of a good housewife. As is the god’s gift, he always looks back to his life while dealing with his own children and at any cost he likes to provide all necessities of life as far as possible and the love and affection. Hence his children reach a height position, much more than that of the native.<br><br>

Health: His health will generally be good. He will be prone to asthmatic attack, dental problems, cough and cold, constipation and sore throat. Due to non-care nature of his own health he does not take medicines properly.<br><br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Anuradha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Physical features: Her face is innocent looking. Even an ugly looking woman with beautiful waist is attracted to man. Whereas, in the Anuradha native, in addition to her attractive face and beautiful body her beautiful waist is further added to her attraction to males.<br><br>

Character and general events: There is no room for arrogance in her life. She is pure hearted. She does not believe a life of fashion whereas she likes to lead a simple life. A selfless, agreeable and attractive disposition. She can shine well in social and political field. She will respect her elders. Her friends will cordon her as if she is the head of friend’s circle.<br><br>

Education, sources of earning/profession: She will be more interested in music and fine arts. She may obtain an academic degree or high degree of knowledge in music or dance. Professional dancers are also found to have been born in this Nakshatra.<br><br>

Family life: She is very much devoted to her husband and observes religious norms. She can be called as a model mother as far as upbringings of her own children are concerned. Her devotion to her in-laws pours further glory in her personal life.<br><br>

Health: She may suffer from irregular menses. Severe pain will be felt at the time of bleeding, as the flow of spoiled blood will be quite intermittent. In some cases it has been told that, after appearance of monthly menses, there will be break for some hours or for one or two days before commencing actual flow. She may also suffer from headache, nasal catarrh.<br><br>



    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits : Wise, spirited, fun-loving, attractive, vigorous, well-liked, spiritual seeker, interested in ancient knowledge, hard working, capacity for astrology, devoted, brave, enjoys travel, healthy, accommodates many people, enjoys social life and organizations, benefits more if they live away from their place of birth, ability to attract and maintain friendships, cooperates with others, ability to lead and form alliances.<br><br>

Negative Traits : Has remorse, guarded, cut off, deceitful, held back by others, can not cope with hunger or thirst, emotionally needy, rebellious, adheres to bad advice and suffers consequences, jealous and controlling of others, unaware of their effect on others which results in problems, may be melancholic due to a lack of maternal nurturing, anger issues, moves frequently due to dissatisfaction, tries too hard in terms of spiritual progress.
<br><br>
Career Interests : Business management, organizational skills, travel industry, conference planners, dentists, plumbers, criminal lawyers, actors, musicians, mining engineers.
<br><br>
    </p>
</body>
</html>