<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:orange;
        }
    </style>
    <title>Ardra</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO ARDRA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Arudra Nakshatra 6-40 to 20-00′ Gemini
General Characteristics: Emphasis on the mind or thinking capacity – deep feeling along with passionate thinking – motivated by desire.
Translation: The moist one
Symbol: The human head.
Names Starting Letters : ku, kham, ja, chha
Animal Symbol: Female dog.
Ruling Planet: Rahu.
Nature: Manushya (human).
Presiding deity: Rudra the god of the storm and destruction.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> Male Natives of Ardra</h2><br>
    <p style = " font-family:cursive; font-weight:bold">
Physical features: It has been noticed that various natives of Arudra have different shape of structure, right from the slim and short structure to fat and lengthy structure.<br><br>

Character and general events: He undertakes any work entrusted to him in a responsible manner. In the public meetings he creates an atmosphere of humor and keeps every body attracted to him. He has intuitive perception. He is good psychologist.
His dealings with his friends and relatives will be of very much cordial type. In some cases it is also noticed that the native is thankless to the persons who have given him help. He does not have a constant type of behavior.<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">
        Education, sources of earning/profession: He has the capacity to acquire and keep knowledge of almost all the subjects. However, in spite of these good qualities he cannot attain much fame or reward out of such knowledge. Since he is over sincere in the work and as also to the persons even the slightest problem which may be confronted will land him into maximum mental agony. However, even during the time of extreme hardships both financial and mental, he can keep his head cool, behave in a most respectable an attractive manner. Because of this quality he is very much involved in others heart.

He will not stick to only one line of work, whereas he would like to undertake so many works at a time. Even when he comes to know that the line of action or though which he has taken is the correct approach but according to others it is not like that he will not hesitate to subdue and respect others. In case he undertakes research work on any particular line he can shine well. In the business field also he can attain much success.

It has been noticed that most of the selfless social workers are born in this Nakshatra. He has the capacity to undertake any number of jobs at a time and complete perfection in all the fields can also be obtained. In case he undertakes a travel for a specific job, he will oversee other connected work which can be carried out simultaneously.

Normally, the native earns his livelihood away from his home and family. In other words he is settled in foreign places. Period between 32years and 42 years of age will be the golden period for him. He may be employed in transport, shipping, communication departments or industries. He may also earn as a bookseller or finance broker.

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">
        Family life: His marriage will be delayed. In case marriage takes place early he will be compelled to live separately from the family either due to difference of opinion between the couple or due to other circumstances beyond his control. He will have to face several inherent problems of the life. But he will not reflect his problems outwardly.

When the marriage takes place at a late stage his married life will be good. His spouse will exercise full control over him.

    </p><br><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Ardra Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Physical features: She has handsome body with charming eyes, prominent nose.

Character and general events: She is well behaved and peace minded. She is extravagant. Has good intelligence, helpful to others but clever in finding fault in others. In some female horoscope, possibility of having two mothers or two fathers have been noticed.<br><br>

Education, sources of earnings/profession: She can attain a good amount of distinction in the educational or scientific field. Mostly Aridra born specializes in Electronic items or drugs and pharmaceutical. She also earns out of various consultation works.<br><br>

Family life: Like male folk, she also marries at a late stage. But she cannot enjoy full requisite love and affection either from her husband or husband’s family. Her married life will be full of thorns. Even children cannot give her the required happiness. In some cases it has been noticed that either death of the husband of divorce takes place.<br>

    </p>
    <h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits of Ardra Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Curious mind, hunger for knowledge, quick in action, good memory, prefers physical work or work involving the body, good at getting support from the government or authorities, great communicator, truthful, have a transformative point in life at which point they drop many of their bad traits, compassionate towards those in pain.<br>

Negative Traits: Arrogant, abuses power, lusts after material attainments, ungrateful, mischievous, reckless, physically oriented jobs, anti-social, mean streak causes pain to others, self-serving, dishonest, stubborn, critical, impolite, untruthful, poor financial planning, excessive indulgences, cause pain or agony to others, violent, complaining.<br><br>

Career Interests: Writers, teachers, hospice, social services, sales, pr, politics, humanitarian projects, athlete, butcher, drug dealer, chemotherapist, those who deal with dead things such as junk, canned, frozen food.<br><br>
    </p>

</body>
</html>