<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:blue;
        }
    </style>
    <title>Ashlesha</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO ASHLESHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Ashlesha 16-40′ to 30-00′ Cancer
General Characteristics: Motivated by dharma, represents the kundalini or serpent fire located at the base of the spine.
Translation: The entwiner – to embrace.
Symbol: Coiled snake, circle, or wheel.
Names Starting Letters : Di, Du, Dae, Do
Animal Symbol: Male cat.
Ruling Planet: Mercury
Nature: Rakshasa (demon).
Presiding deity: Ahi – the naga or serpent of wisdom

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> Males of Ashlesha Nakshatra</h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical Features: Ashlesha born normally possess rude appearance. He may appear to be having stout body and rude features but inside built up is void.<br><br>

Character and general events: He will not be grateful to anybody even to those who have given him life. Outwardly he tends to show that he is very sincere and would like to share the tragedy of others but he is not like that. He is very talkative. One of the added advantages is that he can attract people with hypocritical words and he is fit to man various organizations. Since there is an inherent quality of leadership and eagerness to reach the top he can shine very well in the political field. In spite of all those mentioned above, which may appear to be an adverse indication of the character, he is the most intelligent person who can give suitable leadership to a country.


It is also seen that some Ashlesha born who are cowards, poor-hearted and soft-spoken. They are not arrogant by themselves but they are arrogant to the world, because of the peculiar expression they show to the world.

He does not believe others blindly. Even then it is seen that he mostly associates himself with black marketers, thieves and murderers. He does not keep any distinction between rich and poor, good and bad people. He does not like to have any resistance to his independence from any circle and has a good liking towards the persons who are ready to accept his leadership and obey his orders whether in the negative or in the positive approach. To such persons he is ready to sacrifice anything. He never likes to cheat others nor he likes to engulf others property. But it is seen that he is quite often mistaken by others.

One of the drawbacks with the Ashlesha born is that his brain always supports the persons who are not in need and reject the request of the persons who are in need. Suppose he renders a helping hand to a needy person he will not hesitate to publicize such act.

Whatever may be the plus and minus points in the Ashlesha born, it is generally noticed that he is luckiest, popular but hot-tempered person. If anybody closely watches him it will be seen that he loses his temper where it is not required and where it is required he keeps silent. On the one side when we say that the Ashlesha born is luckiest, the fruit of that lucky existence cannot be enjoyed by him.

Mostly he is betrayed by the relations and friends and helping hand is extended by the unknown.<br><br>

Education, source of income/profession: He may have his education in Arts or Commerce line. In the professional field, the native gets speedy promotions and sudden reversals. A heavy loss of money at the age of 35-36th years of age and unexpected and unearned income when he is 40 years of age.<br><br>

Family life: He will have to shoulder much of the family responsibilities, most probably it may be due to the native being the eldest in the family. His wife cannot understand him. She does not want to share her wealth with other relatives (sister-in-law or cousin brother etc.)<br>


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Ashlesha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Females born in Ashlesha will also enjoy almost all the results mentioned for the male natives.<br><br>

Physical features: Most of the females born in this Nakshatra are not good looking. However, if Mars is associated in this Nakshatra, she will have beautiful figure.<br><br>

Character and general events: She will be self-restrained and will possess non-caring attitude. The inherent quality of shyness in the females is present in a greater degree in the case of Ashlesha born females. Her moral is of a very high order. She will enjoy good respect and recognition from her relations. She has the capacity to conquer her enemies mainly through vocabulary twisting.<br><br>

Education, sources of earning/profession: She will be very efficient in her official work. She maybe, if educated, employed in an administrative capacity. Illiterate females may be engaged in selling fishes or work in the agricultural field.<br><br>

Family Life: She is very efficient in the household administration. She should be careful while dealing wit in-laws, as there is a possibility of making some plot against her so as to create friction with her husband.<br>

    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Philosophical, intelligent, versatile, clever, independent, has a number of different jobs, entertainer, learned, leadership qualities, can accomplish much when motivated, good income, mystical, puts great energy into things that interest them, seductive nature, benefit from spiritual work.<br><br>

Negative Traits: Mental instability, worrisome, depressed nature, deceitful, non caring attitude, impolite, tactless, unpopular, lacks social skills, rule breakers, hoarding mentality, possessive, secretive, talkative, lacks appreciation, scattered and unproductive, reckless, disconnected, temperamental, lie to serve their needs, vindictive, introspective, reclusive, ungrateful, blunt.<br><br>

Career Interests: Politician, lawyer, writer, teacher, astrologer, mystic, snake charmer, zoo keeper, prostitute, pimp, chemical engineers, druggist, junkie, reptile keeper, zoologists, self-serving robbers, greedy politicians and business people, those that gain via sex.<br>

    </p>
</body>
</html>