<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body
        {
            background-color:orange;
        }
    </style>
    <title>Ashwini</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO ASHWINI NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Aswini 0-00′ – 13-20′ Aries
General Characteristics: Good looking appearance, gentle personable manners, intelligent, skilled in work.<br>
Translation: Possessing horses, the horsewoman.<br>
Symbol: A horse’s head.<br>
Names start with : chu, chAE, chO, lA<br>
nimal symbol: A male horse.<br>
Ruling planet: Ketu<br>
Nature: Deva (god-like).

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Males of Ashwini Nakshatra</h2><br>
    <p style = " font-family:cursive; font-weight:bold">
       Physical features : Male born with moon in Aswini Nakshatra will have a beautiful countenance. His eyes will be bright and large. Forehead broad and nose a little bigger.<br>
Character and general events : The native may appear to be very calm and quite, but capable of getting his work done un-noticed and is more predominant in the case of native born during the period from April 14th to April 28th, when the sun will be transiting his exaltation place in Ashwini and from October 14th to October 28th, when the sun will be transiting his debilitation place in Swati. There is a saying that even Yama, the God of Death ,cannot change his adamant attitude. Those born in the Ashwini of other months will have stubbornness in a lesser degree.


He will remain faithful to those who love him and will not hesitate to sacrifice anything for such persons. Ashwini born is the best friend in need provided others understand him. He keeps his patience even at the time of greatest perils. But it will be a hurricane task to console the native when he goes berserk. He is the best advisor to the persons in agony. But he deeply resents and fears criticism, see suggestions from others, as a frightening attempt at manipulation.

He takes his own time to do any work. Even so, his actions may be slow but well thought. He will not jump upon any matter without examining prose and corns of each item of work. He cannot be easily influenced. Once he carries out an action or work, whether it is good or bad, right or wrong, he will stick to what he has done, come what may.

He is a firm believer of God. But there is no room for religious or other sentiments. He is orthodox but in new style i.e., he believes in modernization of orthodox method and belief.

Even though he is quite intelligent, at times he makes mountain of even small matters. This leads him in a state of lack of mental peace and will always be in desperate mood. He is always interested in keeping the entire surroundings neat and clean.<br><br>
Education and sources of earnings / profession : He is jack of all arts. He is generally fond of music and interested in literary pursuits. Period up to his 30th years of age will be full of struggle. He has to face obstacles even for small matters. From the 30th year of age, there will be steady and continuous progress which will continue up to 55 years of age.

One of the predominant features noticed is that he is very stingy, but his expenditure will be more than his income due mainly to his pomp and show. He is inclined to meet his desires and needs at any cost.<br><br>
Family life : He loves his family in entire sincerity. However, he is subjected to hatred by his own family members due to his adamant behavior. Affection that was expected and the care that was required, cannot be derived from the father of the native. In other words, the natives as also his co-borns will be neglected by their father. Whatever help he may derive is only from the side of his maternal uncle. Maximum possible help will come from those who are outside the family circle.

Normally marriage takes place between 26 to 30 years of age. There will be more sons than daughters.
    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Ashwini Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">

Females born in this Nakshatra will have more or less the same general results as mentioned in the case of male natives. In addition, she will have the following results :<br><br>

Physical features : Eyes will be bright and small resembling to that of a fish. She has a magnetic look.<br><br>
Character and general events : She has the technique of bringing anybody near to her with her sweet speech. She maintains utmost patience. She indulges in too much sexual operations. She is pure hearted. Even while living in the modern society she maintains the age old tradition of respecting elders.<br><br>
Education, sources of earning / profession : If employed she may either be not interested in the work after 50 years of age and may quit the job or seek voluntary retirement. It is not a negative point. She may do so, as her financial or other conditions would have improved by her 50th years of age, and she no longer requires any work for her livelihood. She will thereafter devote herself to the welfare of the family and to some extent do social work, provided other planetary positions are not adverse. Administrative type of job (including possibility of Indian Administrative Service for an Indian) is earmarked for her.<br><br>
Family life : Normally marriage takes place between the period of 23 years to 26 years of age. It has been noticed that in case marriage takes place at a young age i.e., before the age of 23 years, such marriage ends either at divorce, separation from the husband for long time or even death of the husband.

There will be more female children than male children. She is quick to respond to the needs and desires of her children to pursue the interest of the children. Whenever time permits, these females do cleaning of the house and household articles and they force others to do the same.
Health : Her health will generally be good. Main cause of her ailments is unnecessary mental worry and anxiety. In some cases, when such worry or anxiety goes beyond control, it has been noticed that brain disorder of mild type takes place at a later stage. She should always be careful while cooking or while handling fire. In the modern society, motor vehicle accidents have also been noticed.<br><br>


Career Interests: They generally excel as physicians, entrepreneurs and in areas of adventure sports. With their zeal for renovation and courage, they excel in careers involving heroic exploits. Career options including military or armed forces, law enforcements and athleticism are their favored avenues.
Also suitable as Psychologists, therapists, physicians, healers, mystics, military personnel, police, criminal court, merchant, salespeople, musician, horse trainer, jockey.<br><br>

Compatibility and Incompatibility
With each nakshatra being represented by an animal sign, it is generally held that animals inimical to one another contribute to the similar inimicality in nakshatra. Going by that logic, ‘Hastha‘ and ‘Swathi‘ are incompatible to Aswini nakshatra. On the other hand, natives born under Aswini Nakshatra are most compatible to natives born under ‘Shatabishak‘ nakshatra.<br><br>

<br>
</p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits</h2>
<p style=" font-family:cursive; font-weight:bold">
    Positive Traits: Competent worker who performs above average on the job, intelligent, self sufficient, natural healer, helps others, moderate habits, dresses well, good finances, attractive, powerful, intuitive, idealistic, spiritually inclined, adventurous, independent, strong, powerful, charming, playful nature, nurturer, traveler, loves family.<br><br>

Negative Traits: Hastiness in action compromises efficiency, impulsiveness, desire to pursue new experiences in life causes a weakness in finishing things, aggressive, stubborn, wants to do things their own way, disappointed when things do not go as planned, dissatisfied, arrogant, lack of mental quietude, over passionate.<br><br>

</p>
</body>
</html>