<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:red;
        }
    </style>
    <title>Bharani</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO BHARANI NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Bharani 13-20′ – 26-40′ Aries<br>
General Characteristics: Success in work, capable, truthful, and free from diseases and grief.<br>
Translation: Cherishing, supporting and nurturing.<br>
Symbol: A Yoni, the organ of female reproduction.<br>
Names start with : li, lu, lE, lO<br>
Animal symbol: The Elephant.<br>
Ruling planet: Venus.<br>
Nature: Manushya (human).<br>
Presiding deity: Yama – the god of death.<br>

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features : He is of medium size, with less hair, large forehead, bright eyes, beautiful teeth. His complexion will be ruddy and fairly long neck and face. It has been found that if birth takes place during mid-day, the native is very tall. His head will be broad at the temples and narrow at the chin. Bushy eye brows.

Character and general events : Bharani born is not generally liked by all, in spite of the fact that he is pure hearted and does not like to harm anybody. When he wants to express his opinion in any matter he is just not bothered about the sentiments of others. He will not like to get anything for himself by buttering. Come what may, he is not ready to work against his consciousness whether he is according to others, right or wrong. Due to this attitude he has to face a lot of resistance and failures. He won’t hesitate to spoil the relationship even with near and dear ones on small matters. But when he is convinced of his fault, when the opponent comes forward with folded hands, he will completely forget their enmity and start reciprocating sincerely.


Tactful behavior is alien to him. He is far away from the state of obedience. Arrogance quite often leads him to miseries. Subordination is equal to death for him. When he was to bow to others, he becomes pensive. Advice and encouragement have no room in his mind.

He will generally be having a good all-round knowledge. He has the capacity to go deep into any matter. Even though Bharani born will shine well in public life, he tends to face criticism and loss of wealth.

He likes to command others and will always be eager to establish supremacy. He cannot march forward without hurdles and will have to face stiff competition, and in the run he quite often faces failures. For others, he may appear to be arrogant, but the truth is that he is pure hearted. His life is full of ups and downs.

It is advisable that Bharani born should not involve in unnecessary arguments or competition. He will fight for certain principles which will ultimately lead him into trouble. He is fond of spreading rumors and wasting time by humors. As already mentioned above his life is full of ups and downs, there will not be any good or bad periods for long time. In short, ha has to face a life of mixture of good and bad always. He is quite capable of looking after others but he needs some one to look after him. Ultimately his beneficiary and friends turn against him. He cannot establish permanent relationship with anyone.<br><br>

Education, sources of earnings / profession : There is never a permanent good or bad time. After his 33 years of age there will be a positive change in his surroundings, in his life, and in his livelihood. He is fit for any type of work, particularly in administrative job, business, sports, music, art advertisement, automobile or restaurants. He can also be a good surgeon or a judge. He can be successful in the business of tobacco items or cultivation of tobacco. He will attain success in all undertakings provided he establishes or starts any activity by proceeding to the Eastern direction first and also if possible the place of activity or business may also be in the eastern side or eastern direction from his house.<br><br>

Family life : Marriage comes around 27 years of age. They are fortunate in conjugal bliss. His companion will be expert in household administration and well behaved. He will cause the death of his father if birth is in the 1st or 2nd quarter of Bharani Nakshatra. His wife must save money for a rainy day, as he make some impulsive purchases, whether there is money left for other purposes or not. He loves his family. He dislikes to be away from his family members even for a day.<br><br>

Health : While he does not take care of his health, there won’t be any serious health problems. Main possible diseases are dental problem, diabetes and severe body pain, affections of brain, high fever, apoplexy, ring worms and malaria. Normally he is a very poor eater. He believes in the principle of ‘eating to live and living to eat’. He is afraid of water and as is the thought, he should be careful while traveling through water, taking bath in rivers, oceans and ponds. Injury in the forehead and just around the eyes. Since he is a chain smoker he has to be careful about his lung.<br><br>


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Bharani Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
Physical features: She will have a very beautiful figure. White teeth but not in proper arrangement.<br><br>

Character and general events: She will possess a clean, admirable and modest character. She respects her parents and elderly persons, but she does not relish suggestions from others and acts according to her own sweet will. She is bold and impulsive and over optimistic.<br><br>

Education, sources of earning/ profession: She earns her own livelihood. She will be successful as a receptionist, guide or sales woman. She will not wait for opportunities to come but will go out and create opportunity to fulfill her desires. She may earn through sports activities.<br><br>

Family Life: Marriage comes around her 23rd years of age. She will have an upper hand in all matters and she will behave like a commander. While she will enjoy full confidence, love and satisfaction from her husband, she is quite often troubled by her in-laws. She always speaks high of her own family. She will obey only such a man whom she can admire. In case she marries a simple man, who is lowly placed in life, she will over power her husband in all walks of life. As Bharani born females are a little aggressive, married partner should have patience and deal with them tactfully for avoiding daily friction in life.<br><br>

Health: Her health will be good. She will have frequent menstrual problems, uterus disorders, anemia and in some cases tuberculosis has also been noticed.<br><br>


Career interests: Publishers, writers, film and music, occultist, psychics, hypnotists, astrologers, psychologists, entrepreneurs, business people, financial consultants, lawyers, builders, children & childbirth, hospitality industry – caterers, cooks and hotel staff.<br><br>

Compatibility and Incompatibility: Revathi nakshatra symbolic of a female elephant is instinctively compatible with Bharani Nakshatra. Even Hasta, Swathi, Sravana and Purvaashada are compatible with Bharani nakshatra; if compatibility is judged on the basis of animal yonis they are guided by.
As far as incompatibility is concerned Bharani Nakshatra is incompatible with birth stars guided by the signs of tiger and lion. Thus it is incompatible with Chitra, Dhanistha, Purvabhadrapada & Vishakha nakshatra.<br><br>



<br>
</p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits</h2>
<p style=" font-family:cursive; font-weight:bold">
    Positive Traits: Clever and able to do tasks fast, desires new experiences, spontaneous, dutiful, loyal to family and friends, courageous attitude, good health/longevity, talented in career, satisfied, leader – does well in public life, creative, artistic and materialistic.<br><br>

Negative Traits: Over burdened, has too much to do, restless, amoral, fickle, too clever, resists control and restraint, stubborn, childlike, vulnerable, vigor bothers others, don’t pace themselves, needs discipline, irritable, impatient, potential to burnout, sexually indulgent, vane, moralist, judgmental.<br><br>

</p>

</body>
</html>