<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: yellow;
        }
    </style>
    <title>Chitra</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO CHITRA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Chitra 23-20 Virgo to 6-40′ Libra
Names start with : pE, pO, raa, ri
General Characteristics: Attractive, sociable, intelligent, and natural leaders.
Translation: The brilliant.
Symbol: A bright jewel or pearl reflecting the spirit within us, or a shining light.


Animal symbol: Female tiger.
Ruling planet: Mars.
Nature: Rakshasa (demon).
Presiding deity: Tvashtar or Vishvakarma – the celestial

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Males of Chitra Nakshatra</h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: He has a lean body. He can be recognized or identified even from a crowd of hundreds of people through his magnificent dealings and expressions.


Character and general events: He is very very intelligent and peace loving. He will not hesitate to go to any extreme for the sake of selfish benefits. There is a hidden inherent Godly gift for this Nakshatra born i.e., the ideas or opinions or advice expressed by him would initially appear to be a sheer nonsense but later on the same idea or opinion or advice will only prevail upon. There is also an inherent gift of intuition. Hence he is the type of person who is very much fit for the Astrological profession where intuition is very much needed.

In some cases, it is also noticed that the native quite often see a lot of dreams which are actually becoming true. This would indirectly indicate that a divine power is automatically installed in the brain of Chitra born.

He is the type of person who is not bothered about the sentiments of others nor is he selfish to others. But in spite of this adamant attitude his dealings with the poorer section of the society will be very cordial and full of kindness. Quite often he is mistaken by others that he is very rude and stingy. He has a tendency of giving reply on any matter without forethought and he wakes up at the eleventh hour and try to rectify his utterances when it is too late.

He has to confront his enemies at every step but he is capable of escaping any conspiracy. He has soft corner for the down trodden people and he devotes his time and energy for the uplift of this section of the society. But one of the hidden factors is that initially his approach to the down trodden will be without any selfish motive, which later on culminates into selfish motive.<br><br>

Education, sources of earnings / profession: Obstacles in the life is not a hurdle for the advancement for him. He can overtake all these hurdles with his courage and hard work. He will not be leading a comfortable life up to the age of 32 years. Period between 33 years and 54 years of age will be his golden period.

One of the redeeming features of Chitra born is that he gets help and reward from unexpected quarters without putting much efforts. From several horoscopes examined by me, it is seen that the age of 22, 27, 30, 36, 39, 43 and 48 years of age will be very bad in all respect. The native may earn as a sculptor or mechanic or as a factory employee or the native will be in the political arena or the native may be be an engineer or a textile technologist.<br><br>

Family life: While on the one hand he sincerely loves his co-borns, and parents, on the other hand he suspects the activities of the co-borns and parents. Chitra born cannot, in most of the cases enjoy the benefit, love and affection from his father. It is also noticed that the father of the native leads a separated life. In any case, he has a life away from his father. One of the points noticed is that his father in spite of separation from the native have some distinct identity of his own i.e., will be famous or known in a particular field. He is more attached to his mother and enjoy benefits from the maternal side.

There is a saying that the Chitra born cannot stay in the house where he is born. Either the native will leave the house and settle down somewhere else or the house he is born itself will be sold or destroyed. In other words, he will be settling down in an unknown and distant place away from his native house.

Normally he cannot enjoy a happy married life. When we say a happy married life, while the marriage will be stable the relationship between the couples will not be cordial leading to frequent friction on small matters. He has to shoulder lot of responsibilities and face lot of criticisms throughout his life.


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Chitra Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
Females born in this Nakshatra will also equally enjoy the same results mentioned above for the male natives, except that the females are more subjected to the hands of unlucky fate.<br><br>

Physical features: She has a beautiful envious body. She will be tall with equally matched fleshy body. While she has natural long hair, she in the modern world will have a cut hair.

Character and general events: Her eagerness for excess of freedom and unrespectable behavior makes problems still complicated. She is proud for no merits. A veracious and sinful, laziness. She will have very few friends. Commits sinful deeds.<br><br>

Education, sources of earnings / profession: She will have her education in science subjects. She may be a nurse or a model or a film actress. If planets are not well or moderately placed, she may be employed in agricultural field.<br><br>

Family life: Unless the individual horoscope of a female native is compared properly there is likelihood of death of the partner, divorce or complete absence of pleasure from the husband. In some cases, childlessness is also noticed.


    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Attractive, artistic, great lovers, independent, natural leader who wants to make an impact on life, sociable, perceptive, high-spirited, elegant, conversant, dignified, judicious, business skills, happy, well dressed and well groomed, well read, drawn to philosophy and social thought, does well outside their place of birth or in foreign countries, handy, incline toward more physical expressions of art such as sculpture, printmaking, competent designer.<br><br>

Negative Traits: Smug, conceited, easily bored, self centered, attracted to exciting yet negligent mates, quarrelsome, critical, too quick to challenge someone’s point of view, corrupt, amoral, may not focus enough on saving money.<br><br>

Career Interests: Interior design, architects, jewelers, lawyers, judges, priests, religious people, learned in the Vedas, publications, radio, TV, film, armed forces, police detective, painter, photographer, designer, musician, writer, herbalist.<br>

    </p>
</body>
</html>