<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello world!
</body>
</html>




{'status': 'ok', 'data': {'nakshatra': {'id': 3, 'name': 'Rohini', 'lord': {'id': 1, 'name': 'Moon', 'vedic_name': 'Chandra'}, 'pada': 1}, 'chandra_rasi': {'id': 1, 'name': 'Vrishabha', 'lord': {'id': 3, 'name': 'Venus', 'vedic_name': 'Shukra'}}, 'soorya_rasi': {'id': 10, 'name': 'Kumbha', 'lord': {'id': 6, 'name': 'Saturn', 'vedic_name': 'Shani'}}, 'zodiac': {'id': 11, 'name': 'Pisces'}, 'additional_info': {'deity': 'Brahma', 'ganam': 'Manushya', 'symbol': 'Chariot (An ox cart)', 'animal_sign': 'Snake', 'nadi': 'Kapha', 'color': 'White', 'best_direction': 'East', 'syllables': 'O, Va, Vi, Vu', 'birth_stone': 'Pearl', 'gender': 'female', 'planet': 'Chandra', 'enemy_yoni': 'Mongoose'}}}