<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: green;
        }
    </style>
    <title>Hasta</title>
</head>
<body>
       <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO HASTA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Hasta 10-00′ to 23-20′ Virgo (Kanya Rasi)
Names start with: poo, sham, Naa, Taa
General Characteristics: Purity of thought and deed as well as self-control, active habits, full of resources.
Translation: The hand
Symbol: A hand – open hand blessing humanity.


Animal symbol: Female buffalo
Ruling planet: Moon
Nature: Deva (god-like)
Presiding deity: Savita – the sun god who imparts creative and transforming energy.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Hasta </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
Physical features: The native is tall and stout. Mixed colour with short hands comparing to the body structure. There will be a scar mark on the upper right hand or beneath the shoulder.<br><br>
Character and general events: The native will have a calm nature. There is a peculiarity while he is smiling i.e. his sweet smile has the magnetic power to attract others. This inherent quality produces a vibration on others and it becomes difficult to leave the native once such acquaintance takes place. He can easily get respect and honor from the public. He is always in readiness to help the needy for nothing in return. He does not like to deceive others even if it costs him his life. In spite of this good quality, the reward he gets in return is nothing but criticism and opposition. He does not believe in a posh living.


Unlike other Nakshatra born persons, the life of Hasta native is full of frequent ups and down. At one moment he rises to the top and another moment he falls to the bottom whether in profession al field or in the mental world. In other words, luck and unluck comes to them without intimation. Hence we cannot categorise him as a permanent poor or wealthy. When he enters in a particular field and starts gaining the object, reversal is already in store for him. While he tries to get out of such reversal with his own effort, helps comes to him from the unexpected quarters and he achieves medium success in the undertaking. It may appear that there is some hidden curse on the native as otherwise, the sincerity and hard work which he shows in every work, should have given him a wonderful boost.

While the native does not want to cause any trouble to others, once he is hurt, he will always be in search of revenge, but at the same time takes consolation in the feet of god by thinking that let god give him the punishment and he slowly withdraws from the scene of conflict.<br><br>

Education, sources of earning/profession: In the work field, he keeps strict discipline. Normally employment in a subordinate level is not fit for him. Only very few cases where the Hasta native is working in a low level job has been found. Most of the cases either they are engaged in business or in a high position in the industries.

Hasta native even with a preliminary academic background will possess excellent all-round knowledge. He will show to the world that he is not being anybody on any matter. He is a good adviser as he has the capacity to intervene and settle various disputed matters. Lot of responsibilities will have to be undertaken by him before he can climb one step of ladder of success.

Period up to his 30th years of age will bring in unexpected circumstantial changes both in the family front as well as in the academic and professional or business field. Period between 30 to 42 years of his age will be his golden period, when the native can settle down in his life. If the native lives beyond 64 years of age, there will be remarkable accumulation of wealth and all-round success in the business field.<br><br>

Family life: He is able to enjoy an idle married life, even though occasional friction as is expected in a family will definitely be there. His wife will be a homely lady with all good qualities expected from a house wife. One of the hidden factors noticed in the wife of a hasta native is that she may indulge in homo-sexual activities in her youth period.<br><br>

Health: He is prone to have severe cough and cold, frequent emanation of water from the nose and clotting of such fluid, asthma or cynos.<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Hasta</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Female natives born in Hasta Nakshatra also will enjoy more or less the same results as mentioned for a male native born in Hasta native. In addition, they will also enjoy the following results:<br>

Physical features: Her eyes and ears will be extremely beautiful and entirely different from those born in other Nakshatras. A typical shoulder. Very attractive with soft body.<br><br>

Character and general events: She will have the inherent shyness of a female sex. While she will respect the elders, she may not like to live like a slave. She will not hesitate to express her views openly. She is not bothered about the outcome of such expression. Hence she is subjected to enmity from her relatives. If she curbs the tendency of open expression of her views she can attain good amount of success in the family front and enjoy her life in full.<br><br>

Education, sources of earning/profession: In most of the cases, hasta female is not employed mainly due to good financial stability of her parents as well as her husband. In some cases it has been noticed that hasta female, if born in a poor family is employed in the agricultural field and in the construction activities.<br><br>

Family life: She can enjoy a happy married life. Her husband will be wealthy and loving. She can enjoy good benefit from her children. First will be a son and followed by two daughters.<br><br>

    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
    Positive Traits: Creative, pleasant, humorous, skilled in the arts, charming, practical, attractive, wealth late in life, many relationships, generous, unattached, intelligent, persuasive, cordial, weighs their words to avoid expressing anger, self-motivated, in control, focused on acquisition, good at defending and promoting their own interests, understands the value of social rituals and courtesies, skilled in providing service, thick-skinned, takes advantage of opportunities in new areas or in foreign lands, dexterous, determined, industrious worker, easily changes.<br><br>

Negative Traits: Likes competition and conflicts, restless – want spiritual experiences, changeable, con artist, self interest, emotionally unsettled, need to control lower self, unabashed, mistrustful, overindulgence in pleasuring themselves, nasty, mechanical in dealing with those who provide them no advantage, abuse of drugs, controlling, alcohol, and/or food to cope, critical when under stress, suppressed, health issues.<br><br>

Career Interests: Painters, artists, craftsmen, scholars, teachers, writers, sales, communications, pr, hospital and volunteer work, healers, travel industry, conference planners, astrologers, palm readers, advisers, ministers, authors, counselors, educators, priests, thieves, rouges.<br><br>
    </p>
</body>
</html>