<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="./static/1.css">
    <title>Vedic Astrology</title>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="# style = "font-family:cursive">VEDIC ASTROLOGY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" method = "POST">
                <a class="dropdown-item" href="{{url_for('nakshatra')}}">Your Nakshatra Reading</a>
                <a class="dropdown-item" href="{{url_for('api')}}">Birth details</a>
                <a class="dropdown-item" href="{{url_for('advanced')}}">Detailed kundli info</a>
                <!--<div class="dropdown-divider"></div>-->

              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <!-- Navbar -->

    <br> <br>
    <div id="head"><h1 id="heading">VEDIC ASTROLOGY</h1></div>
    <br>
    <p class="para">Vedic astrology is demonstrably the most accurate astrological prediction tool available to humanity. In our opinion, it's even eligible for scientific testing.</p>
    <br>
    <p class="para">The tools developed by ancients with a layered approach generate strikingly amazing results in terms of marriage match, life structure predictions, career choices etc.</p>
    <br>
    <p class="para">Vedic astrology is also astronomically accurate as compared to other counterparts</p>
    <br>
    <p class="para">Since this is a demo site, we have just included one aspect of your personality which is your Nakshatra.</p>
    <br>
    <p class="para"> So, get ready to be surprised!</p>

    <br><br>
    <a href = "{{url_for('api')}}" style = "font-family: cursive; font-size: bold"> API</a>
    <!-- <p style = "text-align:center; font-family:cursive"><a href = "{{url_for('logout')}}">Log Out</a></p> -->
</body>
</html>