<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: green;
        }
    </style>
    <title>Jyeshtha</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO JYESHTHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Jyeshta 16-40′ to 30-00′ Scorpio
Names start with : nO, ya, yaa, yuu
General Characteristics: Mental brilliance and analytical ability, few friends, cheerful and virtuous.
Translation: Elder sister, the middle finger or the holy river Ganges, The Eldest (last of the best).
Symbol: earring or circular protective talisman that may represent Vishnu’s disc.
Animal Symbol: Male deer or hare.
Ruling Planet: Mercury.
Nature: Rakshasa (demon).
Presiding deity: Indra – King of the Gods.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Jyeshtha Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: He has a very good physical stamina and attractive countenance. It may be noticed that most of the persons born in this Nakshatra have defective teeth, either the teeth will have gap between them or bulged out. If these two defects are not there, then the colour of teeth will be different.<br><br>

Character and general events: He is very clean in his mind and is very sober. But these good qualities will not be noticed by others as he does not believe in show. He cannot face even a small problem. He is the type of person to whom no secret should be told or given. He cannot keep anything hidden in his mind even if it pertains to his own life. Unless he keeps it open to others he feels that something is missing in his life and good sleep is disturbed. Several persons born in this nakshatra have been coming to me and complaining that they do get good sleep. When the reason for such a state of affairs was enquired into, they have all admitted that a peculiar vibration takes place in their mind and unless the reason for that vibration is leaked out they cannot rest. So they always wait for the next morning and try to tell these things to the persons who meet them first.


He is hot tempered and obstinate. Due to this temperament he often faces a lot of problems and forms a wall to his progress in life. He never accepts the advice given by others+, whereas he acts upon his own consciousness.

For the sake of principle he takes on the spot decisions on several matters without seeing the opportunity and circumstances, which ultimately leads him to a precarious state. Due to the condition of the hot temperament he will not hesitate to cause problems and troubles even to those who rendered him all possible help when required and even ill treat those persons. He cannot expect any help from the relations. Outwardly, he appears to be very proud but when we go closer to him it will be evident that it is just the opposite.
He must keep away all drugs and alcohol as he is prone to go out of control quickly which will spoil his hard earned reputation, put an hindrance to his profession as also in the family life.
<br><br>
Education, sources of earning/profession: He will leave his home at a very young age and seek refuge in a distant place. He has to earn his bread strictly due to his own effort. Because of the sincerity shown in the work field he normally come up quickly in any position he holds. Constant change of jobs or professions are noticed.

Period up to 50 years of age will be full of trial and any stability in his life starts thereafter only. Period from 18 years of age to 26 years of age will be period of maximum troublesome. During this period he will have to undergo financial problems, mental agony as also in some case mental disarrangement. Period from 27th years of age will be a beginning of progress towards stability, even though the pace will be very slow up to his 50 years of age.
<br><br>
Family life: He cannot expect any benefit from his mother and co-borns, whereas they become his enemies. He is generally disliked by his near and dear ones. This is mainly due to the fact that Jyeshta born likes to keep a separate identity and existence.
His spouse will always have an upper hand and resist tooth and nail the activity of intoxication. While his married life will be completely harmonious and enjoy to the maximum occasional health problems of his wife or separation due to some unavoidable circumstances will greatly affect the mind of the native.
<br><br>
Health: Frequent temperature, dysentery, cough and cold, asthmatic attach and stomach problems are the possible diseases. It is noticed that these people are affected with one or the other health problems frequently. He may also have severe pain in arms and shoulders.
<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Jyeshtha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Females born in this Nakshatra will also enjoy more or less the same results mentioned for the male natives of Jyeshta Nakshatra. In addition, they will enjoy the following results:
<br><br>
Physical appearance: Well proportioned and muscular body with long arms. Height above average. Broad face, short and curly hair.
<br><br>
Character and general events: She has strong emotions, passionate jealousies and deeper loves. She is intelligent, thoughtful, perceptive. She is more eager to know what other’s talk of her. Although her natural inherent feminine character will not allow her to appear domineering, she is good organiser.
<br><br>
Education, sources of income/profession: She is active in sports. Medium academic education. She is often contended herself in the home, seeking to enrich her own life through her husband’s success. Hence most of the Jyeshta born females are not involved in any earning job.
<br><br>
Family life: She lacks marital harmony and loss of children is also noticed. In some cases it has been that such native is subject to harassment by in-laws and several concoctions stories are framed against her. She has to be very very careful while dealing with her neighbors and relatives as they are persons who put poison in her life. A worriless period is very rarely available for her. Since she makes her own rule to be abide by her children, she will be neglected by her children as a vengeance to what she has done to them during childhood.
<br><br>
Health: Her health will not be so good. It is seen that some of the females born in this Nakshatra suffer from disorder of the uterus. She is also prone to prostrate gland enlargement or pain in arms and shoulders.
<br>


    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Most successful of their family, keeps friends and builds a good support network, generous, self-reliant, eventually wealthy, takes charge of the family, passionate response to love, reputable, receives fame and honors, takes control, gets things done when they want to, virtuous, satisfied, talented at music, capacity for inventive design, creative genius, interested in the occult, can accomplish anything they set their minds to, want to make a difference.
<br><br>
Negative Traits: Angry, has family problems, too intense for others, self-important, egotism, hides their feelings and intentions, peaceful demeanor covers impatience and immorality, conniving, control freak, makes other dependent on them to gain control, possessive, dramatizes illness and troubles to gain sympathy, has many illnesses, many job changes, early troubles in life, tormented, hypocritical and secretive behavior.
<br><br>
Career Interests: Self employed, management, military leaders, musicians, dancers, modeling, police detectives, engineers, intellectuals, philosophers, U.N personnel, shaman.
<br>
    </p>
</body>
</html>