<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:yellow;
        }
    </style>
    <title>Krittika</title>
</head>
<body>
    <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO ZAALIMA NAKSHATRA (ALSO KNOWN AS KRITTIKA NAKSHATRA)</h1>


    <p style = " font-family:cursive; font-weight:bold">
    Krittika 26-40′ Aries to 10-00′ Taurus
General Characteristics: Determined and tenacious will to achieve greatness, sharp, cutting and penetrating by nature.
Translation: The cutter.
Symbol: Axe, sharp edge, or flame, razor.
Names Starting with : Aa, Ee, Uu, Ea
Animal symbol: Female sheep.
Ruling planet: Sun
Nature: Rakshasa (demon).
Presiding deity: Agni – the god of fire.
</p>
<br><br>
<h2style=" font-family:cursive; font-weight:bold">Male Natives of Krittika Nakshatra:</h2>
<p style = " font-family:cursive; font-weight:bold">
Physical features: Normally he is of middle stature. However, native with Saturn’s aspect to this segment has a tall body. His nose is prominent and his eyes sympathetic, neck thick and stout, solidly built body with big shoulders and well developed muscles, countenance peaceful and his behavior respectful. He has a commanding appearance.<br><br>

Character and general events: While he is on the one hand very intelligent, on the other hand he cannot pursues any goal for long. In other words he easily gets bored with any particular thing and jump upon another without knowing the pros and cons. He is capable of rendering good advice and tells others the way out for any problem. But in his own life, he does what he thinks at a particular time.
He will discard any friendship if that friendship questions his ego and freedom. But at the same time he does not like to achieve name, fame and wealth through unfair means or at the mercy of others. His needs or wants are not beyond reason nor his accumulations always spectacular, although his money making abilities are often phenomenal, his motivation however derives from an emphatic wish to remain free from obligations. He cannot find fault in his own action. Optimism followed with self-pride is one of the characteristics of these persons. He is determined to go ahead with great energy and shows his stubborn and tenacious nature.<br><br>

Orthodoxy and monotheism are combined in him i.e. while he is orthodox he does not believe in age-old blind belief and customs. Persistent effort and hard work are his motto. He is eager to render some positive service to the world but he cannot shine for longer period. He involves himself in public life sincerely but loss and failures are ultimate gain. This drawback is attributable to lack of ability to move according to the situation.<br><br>

He tries to impose certain restriction and control through self-assessment and modify them according to his sweet will. Once a promise is made, it will be carried out at any cost.<br><br>

In the public life he can attain name, fame and respect. Excess of sincerity will be the means of his downfall. Frustrations start hunting him even on small matters and lead him to outburst. Once he got heated up, subsequent steps will be dangerous. Hence he has to observe maximum mental balance and keep away the out bursting temperament. Remarkable ability will be shown in arguments and counter arguments with reasoning. It is quite often seen that these types of persons will be bereft of truth and money, undertakes unnecessary travel. They are thankless and will utter cruel words.<br><br>
    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
Education, source of earning/profession: Mostly Krittika born will not stay in the hometown. That means his livelihood will be in the foreign land. When I say foreign, it is not necessary that it should be a foreign country. Foreign land means a little away from the place where he is born. Partnership business is not suitable to him.
He derives benefits from the government. Engineer, doctor specialised in venereal diseases, treasury department, draftsman. In case the native is interested in business he can derive maximum benefits from the yarn export, medicines and decorative industries. A large legacy at any part of his life is awaiting for him. He is very slow in any work. Hence for success in life, he is advised to increase the speed while doing any work as otherwise he may be dragged behind others.<br><br>

Family life: He is generally lucky in his married life. His spouse will be expert in household administration, dedicated and devoted, faithful and virtuous. With all these plus points, health of the spouse will be a concern for him and / or circumstances may so be created that he has to quite often live separately. When I say separation, it may be due to work or due to ill health to either of the family members i.e. parents of the spouse etc. and not due to disharmony between the couple.

While he has to confront with many obstacles in various walks of life, he will be contended and lucky in the family field, where he enjoys the utmost satisfaction and peace.

He is more attached to mother. Among his co-borns, the native will enjoy more favor and love from the mother. While his father will be a pious man and well-known person, the native cannot enjoy comforts and benefits from father. His life up to 50 years of age will be full of trial and have to face frequent changes in surroundings. However, period between 25 years and 35 years and 50 years and 56 years will be very good.

Love marriage is indicated to the native. Sometimes, it has been found that Krittika born marries a girl known to his family.
    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Krittika Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">

Physical Features: She will have a clean body, medium height and extremely beautiful up to her 27th years of age. Thereafter, due to sudden psychological or circumstantial changes, her beauty slowly starts fading.<br><br>

Character and general events: While she is not completely loveless, she will not subdue to the pressure of others. Therefore, mentally she has to suffer. She is fond of quarrels. She expresses arrogance not only in her appearance but also in the domestic environment.<br><br>

Education, sources of income/profession: Normally only a very few percentage of Krittika females are highly educated. She earns by working in the paddy field, agriculture field, fisheries and other small-scale industries. When the birth is in the 1st degree of Krittika or 12 to 13.20 degree of Krittika, the native becomes highly learned and she may be an Administrative Office, Doctor or Chemical Engineer or a Teacher. She also earns as a musician or artist, tailor or from leather products.<br><br>

Family life: She cannot enjoy full comforts of her husband. In some cases childlessness or separation from husband is also indicated and in few cases no marriage takes place. In case marriage does not takes place in early age, in several cases it has been that her 37th year is good for marriage. She will not keep cordial relation with relatives as a sense of suppression and subordination is rampant in mind. Truth is that these females live in an illusion world and they show discourtesy to the people who actually are their well wishes. Ultimately a secluded life is in store for them.<br><br>

Health: Health will be severely afflicted either due to excess work or lack of mental peace. Glandular tuberculosis has also been noticed.<br><br>


Career Interests: Spiritual teachers, advisors, musicians, dancers, singers, modeling, fashion designers, military careers, inventors, discoverers, excavators, heads of state or organizations, fire & police department personnel, barbers, butchers & tailors, weapon makers, potters, blacksmiths, carpenters, building contractor, magicians, metaphysicians and astronomers.<br><br>

Compatibility and Incompatibility: Symbolizing the yoni of a female sheep, Krittika Nakshatra is instinctively compatible with its male counterpart influencing ‘Pushyami Nakshatra‘.The nakshatras, ‘Chitra‘, ‘Visakha‘, ‘Dhanishta‘ and ‘Poorvabhadrapada‘ are considered incompatible in respect of Krittika Nakshatra on grounds of the underlying incompatibility in terms of their creative source or ‘yoni’.
It is worth noting that sheep symbolic of Krittika Nakshatra is essentially hostile to tiger and lion symbolizing the list of incompatible nakshatras. Based on the similar principle male and female buffaloes enshrined by Swathi and Hastha Nakshatras are compatible with Krittika Nakshatra.<br>

    </p>
</p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Famous within their group, handsome appearance, self motivated, determined achiever, materialistic – acquires many possessions, bright, strong appetites – likes food, goal oriented, goes for what they want, dignified, takes pride in what they do, good leader, honors commitments, confident, courageous, straightforward, peaceful nature and ambitious.<br><br>

Negative Traits: Unstable mind, changeable, vacillating, stubborn, dissatisfied, impatient, responds too strongly to challenges, sets goals or expectations too high, burns out their health by constant activity, nervous, excitable, aggressive, passive-aggressive, fighting nature, difficulties with food and eating, gluttonous, motivated by desire, child-like nature.<br><br>

        </p>
</body>
</html>