<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color:red;
        }
    </style>
    <title>Magha</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO MAGHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Magha (Magha) 0-00′ to 13-20′ Leo
General Characteristics: Has numerous servants, inclination to worship gods and ancestors, engagement in important work.
Translation: The mighty one
Symbol: Palanquin the royal seat upon which the king was carried through his towns, royal throne room.
Names starting Letters : ma, mE, mu, mi
Animal Symbol: Male rat
Ruling Planet: Ketu
Nature: Rakshasa (demon)
Presiding deity: Pitris – Fathers of Humanity guardian angels that give protection in the event of calamities.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> Males of Magha Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: He has a prominent neck and a hairy body. There is a mole in the hands and also beneath the shoulder. Medium size height. Innocent looking countenance.<br><br>

Character and general events: He is very enterprising. He will respect elders. He will be God fearing. He enjoys his life. He is expert in various sciences and soft spoken. He likes to lead a noiseless life. The native will be receiving honor and recognition from the learned persons. He has good knowledge about various arts.


He will devote his valuable time for the expansion of his culture and actively involves in various cultural activities.

His dealing with others will be with a well thought planning and he doesn’t want to hurt the feelings of others. In case any of his action is responsible for hurting the feeling of others, he is immediately tries to rectify such action. He also does not like any person who makes hindrance or causes troubles to others. That is why there may be several hidden enemies in the native’s life. He is hot-tempered. He cannot tolerate any action or activity which is not within the purview of truth. But this mental feeling leads him into a state of failures. Selfishness is a remote question for him. He does several things for the community or society not with the intention of getting anything in return but for mental satisfaction. This is the reason why the native is able to catch the eyes of the public.<br><br>

Education, sources of earning/profession: He will have many servants and great wealth. In the professional field he cannot attain much success in the material field as he is not business minded and mainly due to his straightforwardness. However, he will be a fitting example of sincerity and hard work. this inherent quality of sincerity and hard work do sometimes pay him some lift but not to the extent when we see the balance. He is bound to change his field of earning business. Once he takes a decision, he will stick to that decision. His dealings with his superiors and subordinates are very cordial and most technical. Hence he is able to be a link between his boss and subordinates.<br><br>

Family life: Most of the Magha born male natives will enjoy a happy and harmonious married life. He has to shoulder several responsibilities, to be more specific, burden of his co-borns.<br><br>

Health: He may suffer from night blindness, cancer if Saturn and Mars jointly aspects Moon in this Nakshatra or conjoin in this Nakshatra, asthma or epilepsy.<br>


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Magha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Physical features: A most beautiful and attractive feature. If Saturn aspects Moon in this Nakshatra, she will have long bunch of hair.<br><br>

Character and general events: While she is fond of quarreling and anger is at her nose, she is charitable, god fearing. She will enjoy royal comforts. She can attain mastery over both house-hold and official activities. She is religiously much inclined. Whenever somebody is in trouble she will help them without any selfish motive.<br><br>

Education, sources of earning/profession: If Jupiter is also placed in this Nakshatra, she will be employed in a very high position or she will be like a queen i.e. her marriage will be with a wealthy person.<br><br>

Family life: One of the drawbacks for the female native born in this Nakshatra is that she invites friction in the family, make conflict between her husband and in-laws, resulting in mental torture for everybody in the family. This mental tendency must be curbed for a happy family life. She will have good children, preferably the first will be a son and next two daughters.<br>

    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Clear, intelligent, many admirers, positive, conservative, balanced, respectful to others, kind, helps others, love life and parties, dependable, likes to be honored for accomplishments, respectful of traditions, enjoys ceremonies, follows chains of command, does well when praised, likes to be served and given attention.<br><br>

Negative Traits: Arrogant, hot tempered, prejudiced, jealousy, severe nature, resentful, has a strong dislike for those who dislike them or who treat them with disrespect, discontented when fail to meet goals, too high standards, susceptible to flattery, cruel to those who don’t show them respect, racial superiority, sensuality can create problems.<br><br>

Career Interests: Politician, lawyer, heads of corporations, actors, musicians, archaeologists, historians, lawyers, judges, birth registry officials, self-employed, managers.<br>

    </p>
</body>
</html>