<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: yellow;
        }
    </style>
    <title> Mula</title>
</head>
<body>
          <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO MULA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Moola 0-00 to 13-20′ Sagittarius
Names start with : yE, yO, baa, bi
General Characteristics: Possess a deep philosophical nature and an inquisitive mind that enjoys exploring the roots of any subject. Haughty, rich, happy, not inclined to injure others, Firm and fixed opinions, live in luxury.
Translation: The root
Symbol: Tied bunch of roots or a lions tail.
Animal Symbol: Male dog
Ruling Planet: Ketu.
Nature: Rakshasa (demon).
Presiding deity: Nirriti – goddess of destruction who lives in the kingdom of the dead – goddess of dissolution.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> Male Natives of Mula Nakshatra</h2><br>
    <p style = " font-family:cursive; font-weight:bold">
Physical features: He has good physical appearance. He will have beautiful limbs and bright eyes. He will be the most attractive person in his family.
<br><br>
Character and general events: He has a very sweet nature and is a peace loving person. He has a set principle in his life. There is a general fear about the persons born in Moola Nakshatra. It isn’t like that always. He can stand against any adverse tidal wave. He has the capacity to penetrate that wave and reach the destination.
He is not bothered about tomorrow nor he is very serious about his own matters. He keeps all the happenings in the hands of god and become prey to optimism.

<br><br>
Education, sources of earning/profession: He does not keep control of the balance of receipt and payment resulting in debt. He is the type of person who renders advice to others but not capable of keeping the same principles for his own use. This peculiar characteristic generally fits them for the profession of financial advise or religious advice.

Since he is skilled in several fields there will be frequent changes of profession or trade but stability in this direction seems to be a very rare phenomenon. Because of this inherent quality of frequent changes he is always in need of money. Moola born have a peculiar characteristic of mixing with his friends. It is quite natural that when expenditure is more than income and the native is not ready to earn anything by illegal mode the balance will always be in the negative. Hence it is advisable that he must keep away such friends and while he believes that all that is taking place on the earth is due to the blessings of HE, he should also try to be a little selfish and find a way to improve the inflow of income.

Out of all the 27 Nakshatras, one can arrive at a conclusion that these are the people who devote their entire energy with utmost sincerity to their employers as also to any persons who have kept faith or trust in Moola born. A deep study of the life of these persons has revealed some facts about their separate entity than other Nakshatra born i.e. some sort of internal force or some external force is briefing the natives in all the work they undertake.
He earns his livelihood in a foreign place. It is advisable that he must, as far as possible, try to get an opportunity either in the professional field or in the business field in a foreign land or country as he cannot have good luck in the native place; whereas he can have much better success in a foreign land.

As already mentioned above, he is capable of shining in all walks of life, particularly i the field of fine arts, as a writer and in the social work.
<br><br>
Family life: Excepting a few cases, it is seen that Moola born cannot have any benefit from his parents whereas he is all self-made. His married life will be more or less satisfactory. He gets a spouse with all the requisite qualities expected from a good wife.
<br><br>
Health: Probable problems he will be affected with are tuberculosis, isnophelia, paralytic attack or stomach problem. Whatever may be the nature of disease it will not be visible in his appearance or face as even when he is critically ill, his expression and the attraction of the face will not change. Normally it is seen that the native is not in the habit of taking care of his own health. With the result, some severe health problems can be noticed in his 27th, 31st, 44th, 48th, 56th and 60th age.
Once he is addicted to any drug it will be very difficult to control such addiction. Hence it must try to keep away from any material of intoxication.
<br>
    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Mula Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Physical features: Medium complexion -neither black nor white or swarthy in hot countries. Reddish colour in cold countries. Her principal teeth will not be close with great distance, wealthy sign.
<br><br>
Character and general events: Mostly these natives are pure hearted. However, obstinacy cannot be ruled out. Even on small matters she will be very much adamant. Since she lacks knack of dealing she quite often lands into problems.
<br><br>
Education, sources of earning/profession: Mostly, Moola born females do not acquire much education. These females don’t show any interest in studies. Most of these females spent more than two terms in the same standard or class. Ultimately they leave further education. The only exception is that if Jupiter is placed in opposition i.e. aspects or placed in Magha Nakshatra, the native may be a doctor or employed in an envious position i.e. such females will have excellent academic record and reach to the top.
<br><br>
Family life: Females born in this Nakshatra, unlike the males, cannot enjoy full conjugal bliss. she will have a separated life, mainly due to the death of her husband or divorce. This result cannot be blindly applied as other planetary positions of favorable nature will, blindly applied as other planetary positions of favorable nature will, to a certain extent, nullify the bad effects. There may be delay in the marriage and also some hurdles. If the position of Mars is unfavorable she will have to face a lot of problems either from her husband or from children.
<br><br>
Health: She is prone to rheumatism, lumbago, hip or back ache combined with pain in arms and shoulders.
<br>
    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Proud, good-looking, skillful in persuading or manipulating people to serve their needs, politician, careful, clever, able to live a comfortable life, good fortune, determined to succeed, learned, public speaking skills, spiritual advisor, generous, successful, determined, fortune in foreign lands, likes to live well, peace loving, adventurous, brave, explorer, face adversity with composure.
<br><br>
Negative Traits: Insecure, others do not trust them, too goal-focused, does not genuinely care about others, arrogant, self-destructive, headstrong, sabotages their own achievements, has many affairs and/or marriages that don’t work out, low tolerance for boredom, create own insecurities, indecisive, fickle in relationships, arrogance, selfishness, lust and anger, low boredom threshold, takes and give little back, accommodating to other people to get what they want.
<br><br>
Career Interests: Public Speakers, writers, philosophers, spiritual teachers, lawyers, politicians, doctors, pharmacists, business and sales, healers, florist, ministers, officers, investigators, researcher, contrarians, orators, politicians.
<br>
    </p>
</body>
</html>