<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:red;
        }
    </style>
    <title>Mrigashirsha</title>
</head>
<body>
       <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO MRIGASHIRSHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Some Interesting Facts of Mrigashira Nakshatra:<br>
Translation: Deer head<br>

Symbol: Head of a deer<br>

Lord: Mars (Mangal)<br>

Zodiac: Taurus & Gemini<br>

Diety: Soma-God of immortality<br>

Nature: The soft mild and tender (Mridu)<br>

Gana: Devata Gana (Lord Like)<br>

Mode: Passive<br>

Constellation: 4<br>

Body VarahaMihira: Eyes<br>

Body Parashara: Nose<br>

Number: 5<br>

Letter: Ve, Vo, Ka, Kee<br>

Lucky letters: V & K<br>

Lucky Stone: Coral<br>

Lucky Color: Silver, grey<br>

Lucky Numbers: 9<br>

Element: Earth<br>

Dosh: Pitta<br>

Bird Name: Hen<br>

Yoni/Animal Symbol: Female Serpent (Sarpa)<br>

Tree: Khadira<br><br>
The Nakshatra is a small constellation of stars, and in Vedic Astrology, it has attained a special position. The Nakshatras are also known as Lunar Mansions. In addition to this, there is also a mention of Nakshatra in the ancient text. Mrigashira is a fifth of 27 Nakshatra, and if you were born when the Moon was between 23: 20 degrees Taurus and 6: 40 Degree Gemini then this guide is for you. The knack of the deal comes naturally to you even though people ditch you. Thanks to the deity Moon who has showered fickle quick-wit to you. However, it is the most curious Nakshatra in the zodiac belt and supports a good sense of humor.<br><br>
Mrigashira Nakshatra in Astrology:<br>
According to the Vedic Astrology, the planet Mars is the ruling planet of Mrigashira Nakshatra whose symbolic head is Deer. As Deer are always sensitive, anxious, and suspicious about the surrounding, so are the natives of Mrigashira Nakshatra. It denotes the perseverance, strength, and courage of the spiritual warrior. Soma, the Moon-god being the Hindu deity of this Nakshatra personifies the immortal nectar.<br><br>
Mrigashira Nakshatra Characteristics:<br>
Being born in this Nakshatra is considered as one of the purest souls filled with immense love in their heart. Hence, they are very fragile and sensitive. However, their mind fluctuates a lot now and then, but they are intelligent and blessed with sincerity and obedience. They tend to receive immense love from the people wounded by.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Males in Mrigashirsha </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
Mrigashira Nakshatra Male Characteristics:<br>
One of the predominant tendencies is that they are suspicious. However, he is very honest in his interactions with others and expects the sentiment to be reciprocated. He is prone to be taken for a ride by friends and relatives, and therefore he should be careful of them. Trusting them blindly will only cause him heart-break later. However, when he realizes that he has been cheated on by someone, he continues to deal with these people but in a very circumspect manner. He does not believe in simple living and high thinking, but also follows higher values. He is very intolerant of people who have prejudices and judgmental views or those who act in any other dishonest way. Besides this, he can have a double-personality, such as what he shows to the world outside may not measure up to what he is inside.<br><br>
Mrigashira Nakshatra Male: Profession and related areas<br>
The native-born in the Mrigashira Nakshatra will be well-educated. On the financial side, his advice is generally very sound, but the problem is that he cannot implement it in his own life. This is the reason why he always finds himself running short on funds. If he is a businessman, he is likely to achieve success after the age of 32, and between the ages of 33 and 50, he will be full of energy and will be fully satisfied with his earnings during this phase.<br><br>
Health:<br>
He has to face ill-health during his childhood. Frequent constipation will ultimately lead to stomach disorder, cuts, and injuries, pains in the shoulders near collarbones.<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Mrigashirsha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
     Mrigashira Nakshatra Female Characteristics:<br>
The female native of the Mrigashira Nakshatra is intelligent and interested in charity work. These natives are always alert and witty but at the same time selfish too. Also, she has a sharp tongue that is prone to cursing others. She must have control over her temper. Otherwise, she may harm herself. She is literate and inclined towards the arts. However, she will have loving children and be a devoted wife. Also, she acquires a lot of wealth from various sources. She is very fond of material comforts, enjoys various cuisines, lots of ornaments, and branded clothing. She might be said to be greedy for the good things of life.<br><br>
     Mrigashira Nakshatra Female: Profession and Related Areas:
The female natives of the Mrigashira Nakshatra are generally considered to be unlearned personalities. And hence, they are simply not interested in studies. With the dearth of interest in studies, these natives are seen to be repeating the class again and again. And eventually, they drop out of education. It is only possible when Jupiter is placed favourably in the Magha Constellations, this native makes rapid advances in education to reach the top of her field.<br><br>
Mrigashira Nakshatra Female: Compatibility and family life:<br>
Female natives of the Mrigashira Nakshatra are always busy in various household activities even after marriage. She likes to dominate her husband and may have a couple of love affairs in her early years. However, after marriage, she changes and seems devoted to their husband.
Mrigashira Nakshatra Female: Health and Well-Being<br>
The female natives of the Mrigashira Nakshatra are afflicted by bad health due to which she may suffer from severe diseases such as goitre, STDs, menstrual problems, and body ache.<br>
    </p>
</body>
</html>