<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:yellow;
        }
    </style>
    <title>Punarvasu</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO PUNARVASU NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Punarvasu 20-00′ Gemini to 3-20′ Cancer
General Characteristics: Intellectual and spiritual wisdom, material prosperity, good natured, quiet, patient, devout, lives in comfort.
Translation: Good again
Symbol: Bow and a quiver of arrows.


Animal Symbol: Female cat – sensitivity and need for independence.
Ruling Planet: Jupiter.
Nature: Deva (god-like).
Presiding deity: Aditi tends the ground on which healthy seeds can bear fruit, earth Goddess.
Names Starting Letters : kE, kO, haa, hai(hy)

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Punarvasu Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
Physical features: Handsome, long thighs and long face. Some identification mark on the face or on the backside of the head.


Character and general events: The native has complete faith in God. He is religiously inclined. Initially he will have good behavior but later on he develops arrogance. Therefore, others have to be careful while approaching him. It is very difficult to know his inner thought. He is contended with little but at the same time he is hot tempered. He sticks to ancient tradition and belief.<br><br>
He will not stand a party to any illegal activities and will try to resist others from doing so. He does not like to cause trouble to others, on the other hand he tries to help the needy. He will lead a simple life.

Education, sources of earning/profession: He can shine and get success in almost all the subjects except in partnership business. He can attain much name and fame as a teacher or as an actor. Writer, physician etc. Period up to 32 years of age will not be so good. Hence he should not involve himself in any major business till 32 years of age. He may not be in a position to accumulate wealth but he can attain public honor. The main reason why the native is not in a position to accumulate wealth is lack of business trick and straightforwardness. One peculiar expression can be seen in his face i.e. an innocent and frustrated looking.<br><br>

Family life: He is the most obedient child of his parents. He respects his father and mother as also his teacher. His marriage life may not be good. He may either divorce his wife or another marriage, even while the first wife is alive. In case he does not go for the second marriage the quarrels with the spouse will give a lot of problems and mental agony. However, his spouse will have all the qualities of a good housewife. Frequent friction between other family members will take place. All these simultaneous problems will lead to mental wreckage.<br><br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Punarvasu Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Physical features: Her eyes are red, curly hair, sweet speech and high nose.<br><br>

Character and general events: While she will generally have a calm nature, she has argumentative tongue, which will lead her into frequent friction with her relatives and her neighbors. However, she is charitable and shows respect. She will have many servants. On the whole she will be leading a comfortable life.<br><br>

Education, sources of earning/profession: She is fond of music, gets mastery over dances.<br><br>

Family life: Her husband will be most handsome man.

    </p>
    <h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Caring, loving, nurturing, easily contented, friendly good natured, simplistic life, lives in the moment, generous, shares with others, religious inclinations, interested in spiritual writings and philosophies, potential in the communications field – can be good writers and inspiring speakers, profound imagination, purifies self to make spiritual progress, ability to connect with others, successful projects.<br><br>

Negative Traits: Simplistic approach to life interpreted as a lack of intelligence, lack of material drive due to focus on spirituality, lack of foresight gets them into complications including frequent moving, unstable relationships, and multiple jobs/careers, fickle nature, indecisive, frequently ill, critical, over intellectualize life, gets bored too easily in life.<br><br>

Career Interests: Acting, drama, entertainment, politics, writers, publishers, spiritual teachers, mystics, philosophers, innovators, psychologists, gurus, artisans and trade people involved in the construction and maintenance of dwellings, architects, civil engineers, scientists.

    </p>
</body>
</html>