<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: red;
        }
    </style>
    <title>Purva Phalguni</title>
</head>
<body>
   <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO PURVA PHALGUNI NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Poorva Phalguni 13-20′ to 26-30′ Leo (Simha Rasi)
General Characteristics : Sweet speech, generosity, a habit of wandering, government service.
Translation: The Former Red One or A Fig Tree
Symbol: Swinging hammock – rest and restoration, front legs of a bed, or a post.


Animal Symbol: Female Rat
Ruling Planet: Venus
Nature: Manushya (human)
Presiding deity: Bhagya – the god of good fortune and prosperity.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Purva Phalguni </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: He has attractive personality. A stout body with mixed colour. Frequent sweating. A snubbed nose.<br><br>


Character and general events: He likes full freedom. It is seen that the native becomes famous in one or the other field. However, his mind will be full of disturbances on one or the other matter. He has inherent intuitive powers to know the problems of others. Hence, even before the help is requested for, the native extends his helping hand tothe needy. He has sweet speech. He is fond of travelling.<br><br>

Education, sources of earning/profession: He cannot be a slave to anybody. Because of this quality often noticed that he will not take up a job which involves subordination in its true meaning. There is a drawback in the native, that he cannot be a ‘yes master‘ even to his boss in the case of employed persons. Hence he is not in a position to derive much benefit from his superiors.

He wants to be sincere in all the work he undertakes. Neither he can be a party to any illegal activities not has he the power of tolerance to see such activities. This condition of his mind drags him into several complications in life and he is ready to face such problems. He does not like to get any benefit at the cost of others pocket. There will be several hidden enemies to him. Hence, such enemies stand as a main obstacle in the progress. However, the native is able to crash suchenemies and attain much success in all the work he undertakes. He is a power monger. He gives preference to the lposition and authority rather than money. He observes right path to the progress and may devote his valuable time for such a cause. Even though the native is able and intelligent he cannot reach the place where he thinks to be. It does not mean that the native will not rise in the life.

In the employment field, he will frequently change his job, particularly at the age of 22,27, 30, 32, 37 and 44 years. He will attain the requisite position only after his 45th years of age. While he does not want other’s money he will be frequently in trouble in the financial matters from others. In other words, borrowers will not return the money to him.

In spite of all the adverse positions mentioned above he, after his 45th years of age, will reach a good positiion where power and authority vests in him. In the business field he can shine well.<br><br>

Family life: His married life will be happy. He will have good wife and children and also derive much happiness from them. In some cases it has been noticed that the native does not marry the girl of his choice. He will lead a life away from his native place and other family members.<br><br>

Health: His health will generally be good. However, he is prone to dental disease, abdomen problem and diabities. Even so, no permanent nature of disease is noticed in the native.


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Purva Phalguni</h2>
    <p style=" font-family:cursive; font-weight:bold">
     Physical features: Medium height with round face and a long nose. Double chin. Overall an attractive personality.<br><br>

Character and general events: She is polite, agreeable temper, virtuous and has the knowledge of arts. She does charitable deeds. She will be happy. She does righteoud deeds. In spite of all the good characteristics mentioned above, she has one peculiar quality of selfimposed showy image and believes taht there is none above her. This tendency must be curbed for success in life.<br><br>

Education, sources of earning/profession: Her learning is towards scientific subjects. Attains a good degree of education. She maybe a lecturer. She will have reasonable wealth.<br><br>

Family life: She has a loving husband and good children. She is also a duty bound wife. She is ready to sacrifice everything for the sake of family and she always remembers the persons who have rendered some helping hand at the time of need. However, she can be called an obstinate daredevil. According to her, she is the most intelligent member in her family and others are fools. This attitude takes her to the path of frequent friction between the family memebrs. She cannot have a cordial relation with her neighbours. It is mainly due to her arrogance in regard to money and position of her husband.<br><br>

Health: Suffers from frequent menstrual trouble, asthama, jaundice or breathing trouble.
    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Creative, intelligent, active, charming, sincere, leadership skills, carefree, focus is on the body, physical approaches to healing, open minded, sweet speech, generous, wants fame and attention, faithful to issues and those they believe in, mystical nature, spokesperson, aristocratic, cultured, refined, gifted in the fine arts, youthful, exuberant, loving, good relationships.<br><br>

Negative Traits: Vanity, indulgent, impulsive mind, severe, promiscuous nature, narcissism, reckless, focused on getting what they want, spends carelessly – creates debt, addictive personality, hates being uncomfortable, needs stimulation, becomes depressed if do not get what they want, vindictive, lack of planning, unmotivated.<br><br>

Career Interests: Actors, musicians, models, business managers, retail sales, radio, television, photography, cosmetics, jewelry, wedding planners, government service, politicians, teachers, professors, sex and marital therapists, Professions associate with rest and relaxation – theater, cinema, & classical music. Professions connected with marriage – wedding planner.<br><br>

    </p>
</body>
</html>