<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: orange;
        }
    </style>
    <title>Purva Ashadh</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO PURVA ASHADH NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Poorvashada 13-20′ to 26-40′ Sagittarius
Names start with : bhoo, dhaa, bhaa, Da
General Characteristics : Agreeable spouse, a proud nature, strong attachment to friends.
Translation : The undefeated or unsubdued.
Symbol : A fan or a winnowing basket (used to separate grain from its husk), a bed or an elephant tusk.


Animal Symbol : Male monkey
Ruling Planet : Venus
Nature : Manushya (human)
Presiding Deity : Apas – representing the cosmic waters deified as God.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Purva Ashadh </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: He will have lean and tall body. His teeth will be very beautiful, ears long, eyes bright, waist narrow and arms long. In other words, he has good attractive physical features.
<br><br>

Character and general events: He has exemplary intelligence. There is a tendency of jumping to a conclusion on the matters he deals with. Nobody can defeat him in argument. He has extra-ordinary convincing power. He will not under any circumstance subdues to others, whether he is right or wrong. On the one side you can have a lot of advices from him but you cannot render any advice to him.

While he expresses that he is very courageous he cannot reach that state unless he is forced either by circumstances or by persons to show the requisite courage. In decision making he is very poor. He finds it difficult to take decision even on small matters. Once he is aroused by instigation or argument he takes decision without thinking the merits and demerits of such action and he sticks to that decision till the end. Even if he is completely wrong in his steps, nobody can change his decision. Such is the obstinate character of the native.

He likes to do a lot of things for others for nothing in return but he will be subjected to a lot of criticism. He derives maximum benefits from the unknown persons. He cannot keep any permanent relationship with anybody. If he can work with a particular aim with full sincerity he can reach to the top of life. He hates external show. He is God fearing, honest, humble and far from hypocrisy. He can never think of doing anything, which will disturb the progress of others.
He will be highly religious and always interested in feeling revered class and will devote much of his time in pooja or others religious acts. He is good collector of antiques. He may also take interest in writing poems.
<br><br>
Education, sources of earning / profession: Even though he can shine in almost all the fields, he is particularly fit for doctor’s profession or fine arts. He is advises not to venture for any business unless he has dependable employees or managers. He will be attracted to the studies of occult philosophy and sciences and he can shine well. Period up to 32 years of age will be period of trial and error. Thereafter he slowly starts climbing ladder of success. Period between 32 years and 50 years of age will be very good.
<br><br>
Family life: He cannot enjoy any benefits from his parents. However, he will be lucky to have benefits from his co-borns, particularly from his brothers. He will be spending most of his life in foreign land.

His married life will be more or less happy. His marriage may be delayed. In some cases it has been noticed that the marriage takes place in a most competitive way. He is more inclined towards his wife and in-laws. Even then there will be frequent disharmony between the couples. At last he finds peace in the company of his wife. He will be lucky to have the most talented and respectful children, who will bring name and fame to his family. There may be at the most two children.
<br><br>
Health: While his outward appearance is extremely good, his internal constitution may not be good i.e., his health may not be good. It is quite often noticed that this native is prone to a particular incurable disease. Still he will not care for his health. He is prone to severe whooping cough, breathing trouble, bronchitis, tuberculosis, heart attack and malaria or isnofelia is also found in such native. Even in the state of critical illness he will not hesitate to jump into the work, which he feels, should be completed. He may face problems with his thighs. He must take care about his lungs, as he is liable to suffer from rheumatic pains.
<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Purva Ashadh Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Physical features: She is extremely beautiful. Her almond eyes play the role of a magnet. Long nose and graceful look, fair complexion, brown coloured hair.
<br><br>
Character and general events: She is intelligent. She has energy, enthusiasm, vigor and vitality. Hence she is greedy and aspiring for everything. However she is not obstinate. She can attain more success when adverse conditions prevail. She will weigh the merits and demerits of each case and come to a final decision after deep consideration. She will speak out what she feels is right whether others will digest it or not. She will be fond of dogs and other pet animals. She makes promises but will not be fulfilled. Tendency of hatred towards her parents and brothers has been noticed. She will be leader among her relations. A determined, truthful character.
<br><br>
Education, sources of earnings / profession: Generally females born in this Nakshatra are educated. She may be a teacher, bank employee or attached to religious institutions. If mercury is also placed with Moon, she may earn as a publisher or writer.
<br><br>
Family life: She is very good in household activities. When the age goes by, she develops more and more attachment to her husband, with the result her life becomes more and more happier. Benefit from the children will be to a limited extent only.
<br><br>
Health: Her health will generally be good. In addition to the diseases mentioned in the case of male natives above, she will have acute disorder of the womb and uterus. Problems connected with thighs.
<br>


    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits : Artistic, good-looking, influential – influences many, well-liked, polite, faithful to friends, intelligent, good manager but prefers to be in service, valuable employee, simple life, supportive, courageous, humble, influential, wealth, loves good meals, has a enjoyable relationship with spouse, capable of having many children, truth-seeking, changeable.
<br><br>
Negative Traits : Egotistical, inflexible, superiority complex, others regard them as crude or immature, angry, not open to advice, have low-paying and hardworking jobs, incompetent manager, bouts of loud and disturbing behavior, lacking in education or preparation, dictatorial, obstinate, leave behind partners when they can not keep up with their ability to change, settles for less.
<br><br>
Career Interests : Writers, teacher, debaters, shipping, industry, boating, politicians, lawyers, travel industry, foreign traders, actors, film, public speaking, professions associated with water: sailing, shipping, navy, water utilities, people who process raw materials, manufacturers or refiners.
<br>
    </p>
</body>
</html>