<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
    body
        {
            background-color:green;
        }
    </style>
    <title>Pushya</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO PUSHYA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Pushya 3-20′ to 16-40′ Cancer
General Characteristics: In control of passions, well liked, learned in various subjects, rich and fond of doing charitable acts.
Translation: To provide nourishment.
Symbol: The udder of a cow, flower, a circle, an arrow.
Names Starting Letters : hU, hE, hO, daa
Animal symbol: A ram.
Ruling planet: Saturn.
Nature: Deva (god-like)
Presiding deity: Bruhaspati, the planet Jupiter, lord of sacred speech and prayer.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold"> Male Natives of Pushya Nakshatra</h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical Features: It is very difficult to define or describe the body structure or the look of Pushyami born native, as there is no specific structure exclusively enjoyed by Pushyami born. In other words, varying sizes are noticed. One rare sign, as a mark of identification noticed in these persons, is that there will be a distinguished mark, may be a scar or a black mole on their face.

Character and general events: He is very weak at heart. He finds it difficult to reach at conclusion on any matter. He will have good knack of behavior but that behavior is only for the sake of selfish interest. This clearly indicates that his outward expression is hypocritical and against his consciousness i.e. the inner expression is negative and the outward expression is positive. Respecting others is unknown to him whereas expectation of respect is within him. He responds quickly to admiration and become quickly deflated by criticism, giving himself to love and affection with sincerity and appreciation, yet he is ever mindful of slights and he hesitate to form strong attachments.


As already explained above, the inherent freedom available in all walks of life will lead to him to the bad company. Hence he has to be very careful with his friends. He is fond of good dresses.<br><br>

Education, sources of earning/profession: He will jump upon any work without judging or thinking whether he is capable of doing such work or not, and ultimately push him into utter failure in any work he undertakes. While I say that he is not a good anticipator, he is very good in certain work and sweet words are just a natural expression for him. It would be better if he assess his capacity and ability for the specific field where he can shine well and then start doing the job. If that is done, nobody on earth can stop him in achieving the requisite result. One of the plus points for him is that he is not easily vulnerable to defeat and he pushes his way up through several obstacles.

Even if he does not have any basic education, he will show extra-ordinary intelligence and knowledge on any matter of discussion. Another plus point for him is that he will resist tooth and nail any idea or programme or work which is not within the spirit of law. He is of the opinion that all wrong doers must be punished whether they are his friends or relatives or enemies. He will carry out any work entrusted to him with utmost sincerely and certainty. While he wants to complete the work which he commences or assigned to him in perfect condition, the outcome in most of the cases i.e negative because of his too much independent nature. His abilities are many faceted but his success is as probable in the theatre or the arts of in commerce.

In most cases it is seen that Pushyami born will have to face the grip of poverty up to the age of 15-16 years of age and thereafter he will enjoy a mixture of good and bad, where plus will be less and minus will be more up to the age of 32 years. From the age of 33 years, there will be remarkable all round improvements i.e. economically, socially and in health.

In most cases it has been seen that Pushyami born will stay away from his native place and family for his bread earning. He normally undertakes the work where maximum traveling is involved.<br><br>

Family life: There will be lot of problems in the family circle and he will have to depend on others for even day to day requirements. Due to this dependency during childhood he becomes quite independent when he grows up.

Circumstances will be so warranted that he will be forced to stay away most of the time from his wife and children even though he is very much wanting to be attached with them. He expects his wife to be thoroughly self sufficient, with creditable talents and to be correct and conservative in manner and dress. If the marriage of the native is performed without proper comparison or tallying of the horoscope, he may lose all rational perspective and begin to doubt his wife rather than admitting his own lack of discernment. He is very much attached to his parents.
<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Pushya Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
Physical Features: She has a short stature, moderate complexion, well-proportioned face and body. Generally handsome.<br><br>

Character and general events: She will not enjoy peaceful existence. She has a very amicable character and is peace-minded, very submissive to the elders but oppressed by all. She is sincere, affectionate but moody. She is religious and god fearing. Respects her elders. She is conservative. Does systematical and methodical action.<br><br>

Education, sources of earning/profession: She may have income from land and buildings. She may be employed in a job where maximum trust is required e.g. Private Secretaries, Secret departments of a country. She may also have income from Agriculture.<br><br>

Family Life: Even though she is ‘Pativrata‘ (attached to her husband only) she is quite often mistaken by her husband for her moral character. This situation can be avoided if she keeps a little control and restriction over her husband by sheding away her shyness and her outward expression is made clear to her husband and others. Reasons for most of the turmoil in her life is mainly attributable to what she thinks inside and what she expresses outside. She wants to say a lot of things but she is prevented by her inherent quality of shyness, which often misleads others, and a negative opinion is formed about the native. She will have good duty bound children.<br><br>

Health: She will have respiratory problem. She is prone to tuberculosis, ulcers, breast cancer, and jaundice, eczema, bruises in the breast or gastric ulcer.<br>
    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Hard working, creative, tolerant of pain, intelligent, learned, liked by many, spiritual, intuitive wisdom, helps others, make good advisors and public servants, independent, interested in education and humanitarian causes, philanthropic, socially adept, make people feel wanted, selfless, good finances, respected, moderate, have spiritual practice, passionate and defensive about the things they believe in.<br><br>

Negative Traits: Stubborn, selfish, arrogant, overly talkative, dogmatic, fundamentalist, overly sensitive, doubtful of their worth due to what others say about them, devotion can turn to victimization, get defrauded by believing in the wrong people, insecurities inhibit growth.<br><br>

Career Interests: Government, politics, geologist, aquatic biologist, military police, musicians, artists, rulers, ministers, managing directors, food merchants, clergy, priests.<br>

    </p>
</body>
</html>