<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
        body
        {
            background-color:green;
        }
    </style>
    <title>Shatabhisha</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO SHATABHISHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Shatabhisha nakshatra is ruled by the Lord of the Rings. Saturn’s planetary power along the divine power of Varuna symbolizes the spiritual and physical healing of the natives. The lunar node of Rahu also influences Shatabhisha Nakshatra. Shatabhisha Nakshatra is also known as the ‘veiling star’ and it involves the common characteristics of spirituality and secretive vision apart from healing. An ‘empty circle’ is the symbol of this star which represents that this Nakshatra pertains to the realm of imaginary perception or as the Hindi term goes ‘Maya’. In addition to this, it also indicates the ability to explore mysteries and unknown philosophy. Historically indicating the concept of medication or ‘bhajan’; Shatabhisha Nakshatra influences different forms of sea life.<br><br>
        Within the Aquarius ground, a group of faint stars forms Shatabhisha Nakshatra. While gazing at the night sky, Sadalachbia (Gamma Aquarii) is the brightest star of this star group. Shatabhisha Nakshatra is known as “100 physicians or doctor”’ and is related to medicine and healing abilities. Individuals born under this Nakshatra are independent, intrigued with puzzles, researching different stuff, and delving deep to get to the bottom of things. Shatabhisha is a secretive star with a focus on the hidden powers of life. This may lead to an isolated life and those born under this star must be cautious of depression and privacy. Overall, Shatabhisha Nakshatra bestows a truthful, perceptive, and ambitious nature of an individual.<br>

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Shatabhisha Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Shatabhisha Nakshatra Male Characteristics<br>
The Male native of the Shatabhisha Nakshatra will not hesitate to sacrifice his self-interests to stand by his principles. His creed is self-service. He also follows religious rituals very sincerely. Since he is stubborn, once he makes a decision, he will stand firm on it. Though he is intelligent in most areas of life, he is very emotional. When provoked, he can blow his top off, but his anger is soon subdued too. He is not someone who flaunts his assets or talents, and is very modest in that way, though they soon get revealed through his words and actions.<br><br>
Shatabhisha Nakshatra Male: Profession and Related Areas<br>
The Male native of the Shatabhisha Nakshatra will face a torrid time till the age of 34, after which he will make steady progress in his profession or business. This native is suitable for the fields of astrology, psychology, reiki, and other healing arts. His literary smarts will come into the limelight while he is still young.<br><br>
Shatabhisha Nakshatra Male: Compatibility and Family Life<br>
The Male native of the Shatabhisha Nakshatra has to face many problems, especially from his near and dear ones. Still, he does not avoid helping them when they need help. It has been observed that this native has to suffer most due to his brothers. His father also will not benefit him much. However, he will get ample love and affection from his mother. His married life may not be very smooth, even though his wife has all the good qualities expected of a housewife.<br><br>
Shatabhisha Nakshatra Male: Health and Well-Being<br>
The health of the Male native of the Shatabhisha Nakshatra will not be as good as it appears to be. His immunity will be poor because of which he will frequently catch infections. He is often troubled by urinary ailments, breathing trouble, and diabetes.<br>


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Shatabhisha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        The Female native of the Shatabhisha Nakshatra will have a very calm nature. However, she can be hot-tempered when provoked. She is inclined towards religious rituals as she is god-fearing. She often gets involved in family quarrels leading to a lack of mental peace. She possesses a good memory and is sympathetic and generous.<br><br>
Shatabhisha Nakshatra Female: Profession and Related Areas<br>
The Female native of the Shatabhisha Nakshatra is inclined towards scientific study. It has been observed that most female doctors have been born in this Nakshatra.<br><br>
Shatabhisha Nakshatra Female: Compatibility and Family Life<br>
The Female native of the Shatabhisha Nakshatra dotes on her husband, but her life is likely to be full of problems. The long separation from her husband is likely, or she may even become a widow at an early age.<br><br>
Shatabhisha Nakshatra Female: Health and Well-Being<br>
The health of this native will be a cause of concern. It has been observed that this native usually suffer from urinary and uterus disorders. She is also likely to be prone to colic troubles and chest pain.<br>

    </p>
</body>
</html>