<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: orange;
        }
    </style>
    <title>Swati</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO SWATI NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Swati 6-40 to 20-20′ Libra
Names start with : rU raE rO ta
General Characteristics: Sweet, soft spoken, virtuous, compassionate, mild, quiet nature, controls passions and desires, skilled in trade, merciful, charitable.
Translation: The priest, the sword
Symbol: Coral – strong intuitive and psychic properties – A young sprout quivering in the wind.


Animal symbol: Male Buffalo
Ruling planet: Rahu
Nature: Deva (god-like)
Presiding deity: Vayu the demigod of wind, air, breath, and prana.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Swati Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: One of the peculiar features of Swati born is that his under part of the feet will appear to be curved and the ankle risen. His feature is very attractive to the women folk. His body will be fleshy type.


Character and general events: He is a peace loving person, but adamant and independent. He does not like neither to swallow others property nor ready to part with his own property. He does not like criticism of his work. Once he loses temper, it will be very difficult to calm down. Hence for a better tomorrow it would be better if he uses his proper balance of mind.<br><br>

He is willing to extend any helping hand to others provided his own freedom is not questioned. He keeps limit of respect to be given to others irrespective of the position or level of persons that is to say he is not hypocritical in giving respect. He is the best friend in need and worst enemy of the hated. He does not hesitate to take revenge on the persons who is against him. His childhood days will be full of problems. He initially tries to give protection and helping hand to the most dear and near ones but he changes his mind later on due to the unwanted criticism received from such persons.

Education, sources of earning/profession: His intelligence and capacity to do the work are excellent. He has to suffer, financially and mentally, even if born in a wealth family, till his 25th years of age. However, he cannot expect much progress and advancement in profession or business up to the age of 30 years. Thereafter he can have a golden period up to his 60 years of age.
The native will earn through the profession as Gold Smith, travelers or drug seller, an actor or dramatist or a textile worker; may join defense (navy); one may be an astrologer or a translator; the native may be a mechanical engineer.<br><br>

Family life: His married life will not be so much congenial. For the outsiders it would seem that they are the most adjustable couple but in reality they are not.<br><br>

Health: Normally the native has a very good health. However, as every human being has to have certain diseases, he is also prone to diseases connected with the abdomen, heart, piles and arthritis.<br>


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Swati Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Females will enjoy a little different result than those mentioned above.

Physical features: She can be distinctively identified from the way of her walk because she is very slow in walking.<br><br>

Character and general events: She is sympathetic and loving, virtuous and enjoys a very high social position. Fond of religious rites. She is truthful. Have many friends. She will win over enemies. While most of the women folk prefer to wander, this native is not inclined to do so.<br><br>

Education, sources of earning/profession: In case she takes up some employment she will attain much fame even beyond anticipation. As the fate would have it, while she does not like to travel, she is forced due to circumstances to accept a job where more traveling is involved.<br><br>

Family life: She will have to act against her consciousness in regard to moral due to some peculiar circumstances and atmosphere prevalent in the family. However, she will enjoy complete satisfaction from her children.<br><br>

Health: Outwardly her health will not look to be very good. But internal constitution is weak. She may suffer from bronchitis, asthma, breast pain, broken feet ankles and uterus trouble.<br><br>
<br>

    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Tender, moral, able in business – clever in trade and commerce, truth-seeking, studious, meek, truthful, humanitarian – cares about others, thinks before acting, accurate, reduces things to their simplest components, uncorrupted, friendly, positive outlook, disciplined, seeks harmony, generous, active in spiritual organizations or humanitarian causes, likes to be around religious or well integrated people, interested in scientific or philosophical thought, independent, traveler, persuasive communication.<br><br>

Negative Traits: Do not know their limitations resulting in loss of money, status, and respect, creates debt due to high expenses, discontented due to lofty goals, restless, critical, fault finding, not concerned with family, shy, monastic, self isolating, secretive, hides their passions and sexual urges, gives too much away, absurd creative thinking, vulnerable to the whims of others, hot tempered.
<br><br>
Career Interests: Business skill, sales, Yoga teachers, priests, legal profession, judges, transportation, travel industry, stock brokers, traders in drugs and alcohol, merchants, independent business person, ascetic – engaged in devotional practice.
<br>
    </p>
</body>
</html>