<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: blue;
        }
    </style>
    <title>UTTAR PHALGUNI</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO UTTAR PHALGUNI NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Uttra Phalguni 26-40′ Leo to 10-00′ Virgo
Names start with: Tae, TO, paa, pee
General Characteristics: Emphasis on healing others. Earn money by their learning, liked by all, live a life in comfort and luxury.
Translation: The latter red one or a fig tree
Symbol: A bed or 2 rear legs of a cot.
Animal Symbol: Male Cow (bull)
Ruling Planet: Sun
Nature: Manushya (human)
Presiding deity: Aryaman rules leadership, honor, nobility and rules society.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Uttar Phalguni </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
        Physical features: Normally a tall and fat figure. Large countenance and long nose. A black mole in the right side of his neck.<br><br>

Character and general events: The native enjoys a happy existence. He is lucky in several respects. He has a neat behaviour. He shows extreme sincerity in all the work he undertakes. Religiously also he is much inclined. He enjoys good reputation for his social work.


While he is clean hearted, he is hot tempered also. He does not have the requisite patience or tolerance.
Once he heats up, it will be very difficult to calm him. But later on he repents over such expressions when it is too late. However, he will not admit his fault at any cost. Even if he is convinced that he has done a wrong thing he will not admit the fact. However, he has good reasoning and is tactful.<br><br>

Education, sources of earnings / profession: He has an independent nature. However, he undertakes all the responsibilities and does the same in a perfect manner. He does not like to deceive others or to be deceived by others. He can shine well in the profession or work where public contact is required. This success is attributable to the inherent quality of behavioural techniques. However, he earns a good amount as commission out of the public dealings. He is not sincere in his own affairs, whereas he is sincere in other’s work. Once he takes a decision nobody can change the decision. Since he is a born hard-working person he can reach a good position through his hard work. He is suited to the profession as a teacher, writer or research fellow in the scientific field. In some cases it has been noticed that he earns extra money out of tuitions.

Period upto 32 years of age will be a period of complete darkness. Thereafter slight upward trend commence upto 38 years of age. From his 38th age onwards, his progress is much faster and achieves much of his desires. A smooth sailing in his life goes on upto his 62 years of age. He will be lucky to earn fame and wealth during his fifties. He has only self acquired assets. He is good in mathematics or engineering, astronomy and astrology. He can also be successful in advertising business.<br><br>

Family life: His married life will be more or less good. He is quite contended with his family life. His wife will be most efficient.<br><br>

Health: His health will be generally good. However, he is prone to body ache, dental problems, gastric trouble, liver and intestine problems.


    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Uttar Phalguni</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Females born in his Nakshatra will also enjoy more or less the same results as mentioned in the case of male natives born in this Nakshatra, in addition to the following results:<br><br>

Physical features: Medium height, soft body, medium complexion, nose a little bigger. A peculiar identification mark in the form of a black mole on the face has been noticed in this native.<br><br>

Character and general events: She will have very calm and simple nature. She does not keep enemity for long. She is principled, always joyful.<br><br>

Education, sources of earnings / profession: She has inherent mathematical aptitude or scientific background. Hence she is fitted for the profession of teacher or lecturer or in administrative field. She may also be associated with sanitary department or hospitals. She may also earn money as a model or as an actress.<br><br>

Family life: She can enjoy happiness from her husband and children. She is very clever in managing domestic work. Her husband will be moderately wealthy. She must curb the tendency of pomp and show as she is likely to become the object of jealous neighbours, who may create unexpected problems in her family life in alliance with her in-laws.<br><br>

    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Popular, hard worker, ambitious, benefits from those in power, good communicator, successful, friendly, reliable, focused, happy nature, loves luxury and comfort, material desires are fulfilled, capacity for enjoying life, liberal yet has fixed principles, balanced leader, happy, socially adept, generally fortunate, generous, kind, compassionate, courage, endurance, spiritual and mental advancements.<br><br>

Negative Traits: Promiscuous, over-giving, egotistical, restless, inconsiderate of others feelings, obstinate, disdainful, bossy, vain, arrogant, takes too much for themselves, stubborn, critical, resentful, a social climber, may be sad or angry under a happy smile, lack belief in their own power.<br><br>

Career Interests: Social worker, philanthropist, writers, actors, media personalities, healing arts, state health employees, astrologers, astronomers, mathematicians, business minded people, sales.<br><br>

    </p>
</body>
</html>