<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            background-color: red;
        }
    </style>
    <title>Vishakha</title>
</head>
<body>
        <h1 style = " font-family:cursive; font-weight:bold">YOU BELONG TO VISHAKHA NAKSHATRA</h1>


    <p style = " font-family:cursive; font-weight:bold">
        Visaka 20-00 Libra to 3-20′ Scorpio
General Characteristics: Energy, strength and potential power, bright in appearance, distinct in speaking, skilled at making money.
Symbol: A large tree with spreading branches giving protection to others, potters wheel, a decorated gateway used for marriage ceremonies.
Translation: Enter the heavens
Animal symbol: Male Tiger
Ruling planet: Jupiter
Nature: Rakshasa (demon)
Presiding deity: Indra – the god of transformation and Agni the god of fire.

    </p><br><br>
    <h2 style = " font-family:cursive; font-weight:bold">Male Natives of Vishakha Nakshatra </h2><br>
    <p style = " font-family:cursive; font-weight:bold">
    Physical Features: His face will be round, bright and physical appearance extremely attractive. We have noticed two types of physical appearance i.e. one with fatty and long structure and the other with very lean and short structure.<br><br>

Character and general events: He will have full of vigor and vitality as also intelligence of the highest order. He is firm believer of god and leads a life of truthful existence. He does not believe in the orthodox principles not the age old tradition. He is fond of adopting modern ideas.


Mostly he lives away from his family. He is ready to give weight to others in excess of what is actually required depending on the weight of the persons to whom he is dealing in. Slavery is suicidal for him. While he is very much religiously active, he does not follow any superstitious religious fanaticism. He treats all religions, castes and creed as one. He is a follower of Gandhian philosophy of ‘Ahimsa Paramodharma‘ (Religion is Non-violence) and ‘Truth is God‘. In certain cases I have seen that such type of persons accept Sanyasa (saintism) when they touch 35 years of age. When we sanyasa it does not mean that complete detraction from the ‘Grihastashram‘ (duty towards the family). He will simultaneously look after the family and follow sanyasa.<br><br>

Education, sources of earning/profession: He is a very good orator and has the capacity to attract crowd. He will win several prizes in elocution competition. Hence he is the fittest person to be in the political circle. There is a peculiar spending tendency in him. While on the one side he is very stingy on the spending on the other side he is extravagant in the spending where it is not required.

He is fit for doing an independent business, job involving high responsibility, banking and religious professions, mathematician or a teacher or a printer.<br><br>

Family life: He cannot enjoy love and affection of mother. One of the primary reasons for such lack of care may either due to mother’s death or unavoidable circumstances and atmosphere which warrant his mother to be away from the native. There may be several beneficial points of his father with which he can always be proud of. Even then, not much help will be derived from his father also. In other words, we have to come to a conclusion that the native leads more or less a life of an orphan. There may be a lot of difference of opinion between his father and him on several points where an amicable settlement on any matter may not be possible. It is due to these reasons he is right from the childhood a hardworking and self made person.

He loves his wife and children very much. Even so, he has two bad qualities. One is that he is addicted to alcohol and another is that he indulges in too much sex with other ladies. In spite of these weaknesses he will not make this weaknesses as hindrance either in the family or social life.<br><br>

Health: Since has has inherent vigor and vitality given by the god, his health will normally be very good. However, he is prone to paralytic attack. More than 70 percent of Visakha born people were noticed of this paralytic attack after the age of 55 years. It is also seen that they are prone to asthmatic attack.<br>

    </p><br>
    <p style = " font-family:cursive; font-weight:bold">

    </p> <br><br>

    <p style=" font-family:cursive; font-weight:bold">

    </p><br>

<h2 style=" font-family:cursive; font-weight:bold">Female Natives of Vishakha Nakshatra</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Females born in this Nakshtra will enjoy more or less the same results mentioned for the male natives and in addition they will enjoy the following results:<br><br>

Physical features: Her features extremely beautiful. This inherent godly gift of attractive physical features normally attract the men folk and she has to face lot of problems on this account.<br><br>

Character and general events: She has a very sweet tongue. She is expert in the household activities and if employed in the official activities also. Arrogance is very rarely noticed in these females. She does not believe in pomp and show and she is very simple. She does not like to increase her beauty by make up. She is subject to jealousy of other female friends and relatives. She is a firm believer of religious principles and quite often observe fast and perform poojas and visit holy places frequently.<br><br>

Education, sources of earning/profession: She is interested in poetry. If there are other good planetary combinations, particularly when Moon and Venus are together, she may become a famous writer. She will have academic excellence in arts or literature.<br><br>

Family life: She treats her husband as her god. Her religious attitude will confer love and affection from her in-laws. As she looks after the welfare of all family members and even distant relations, she will have power and authority conferred on her. She will have more attachment to her father-in-law. She may frequently be visiting sacred places.<br><br>

Health: She will generally have good health. However, she is prone to kidney trouble, goiter and weakness due to homo-sexuality.<br><br>

    </p>
<h2 style=" font-family:cursive; font-weight:bold">Positive and Negative Traits and Career Interests</h2>
    <p style=" font-family:cursive; font-weight:bold">
        Positive Traits: Intelligence of the highest order, bright appearance, attracts others, clever, has respect for intelligent and spiritual people, enterprising, self-satisfied, determined, gets things done, humanitarian, politically inclined, can appear soft but is very powerful underneath, excellent communicator, persuasive speech, leadership qualities, truthful, sexually alluring, a good mate in marriage, benefits through marriage, traveling and through change, mathematical talent, courageous, powerful achiever.<br><br>

Negative Traits: Overly talkative, negative, militant, creates quarrels between people, restless, covetous of other’s success, feels isolated, critical of others, fault finding, infidelity, too much ambition – spread too thin, manipulate others to meet their own needs, socially isolated, not open to advice, offensive, stingy, not easy to like, greedy, deceitful, aggressive, domineering, quick to take offense, argumentative, jealous, frustration and anger when goals impeded, suspicious, possessive, envious, feels suppressed and taken advantage of by others, too many interests, not satisfied by accomplishments, restlessness – change partners<br><br>

Career Interests: Researchers, scientists, military leaders, writers, public speakers, politicians, lawyers, ambassador, dictator, leader, conqueror.<br><br>

    </p>
</body>
</html>